<div id='block_<%= block.id %>'>
  <% if block.children.count > 0 %>
    <% block.children.each do |b| %><%= raw block.render(b, local_assigns) %><% end %>  
  <% elsif editing %>  
    <%= raw empty_text %>
  <% end %>
</div>