<%
file  = block.child_value('file')
text  = block.child_value('text')

if editing && file && file.url.include?('missing.png')  
  %><div id='block_<%= block.id %>'><p>Please upload a file.</p></div><%  
elsif file
  %><div id='block_<%= block.id %>'><p><a href="<%= raw file.url %>"><%= raw text %></a></p></div><%
end

%>