      <div class="footer" id='block_<%= block.id %>'>
        <div class="constrain">
          <div class="nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/properties/category/land">Land</a></li>
              <li><a href="/properties/category/commercial">Commercial</a></li>
              <li><a href="/properties/category/residential">Residential</a></li>
              <li><a href="/properties/category/rural">Rural</a></li>
              <li><a href="/contact/montgomery">Contact</a></li>
            </ul>
          </div>
          <div class="nine">
            <span>site designed, built and loved by:</span>
            <a href="http://www.nine.is" target="_blank"><div class="logo"></div></a>
          </div>
        </div>
      </div>