<div class="content_wrapper" id='block_<%= block.id %>'>          
  <div class="content_body">                      
    <% if block.children.count > 0 %>
      <% block.children.each do |b| %><%= raw block.render(b, local_assigns) %><% end %>
    <% end %>
  </div>
</div>