<div class="content_wrapper" id='block_<%= block.id %>'>          
  <div class="content_body">    
    <% if editing %><div class='sortable'><% end %>        
    <% block.children.each do |b| %><%= raw block.render(b, local_assigns) %><% end %>
    <% if editing %></div><% end %>        
  </div>
</div>