      <div class="page_wrap" id='block_<%= block.id %>'>          
        <div class="page_body">      
          <div class="page_content">
            <div class="icons-social">
              <ul>
                <li><a class="icon-twitter" href="https://twitter.com/truesouthprop"></a></li>
                <li><a class="icon-facebook" href="https://www.facebook.com/pages/TrueSouth-Properties/144790345550944"></a></li>
              </ul>
            </div>
            <% if block.children.count > 0 %>
              <% block.children.each do |b| %><%= raw block.render(b, local_assigns) %><% end %>
            <% end %>                          
            <% if editing %><%= raw block.child_block_link %><% end %>
          </div>
        </div>
      </div>