<div class="content_wrapper" id='block_<%= block.id %>'>          
  <div class="content_body">            
    <% if post.body %>
      <h1><%= raw post.title %></h1>
      <%= raw post.body %>
    <% else %>
      <% block.children.each do |b| %><%= raw block.render(b, local_assigns) %><% end %>    
    <% end %>
  </div>
</div>
