      <div class="header" id="block_<%= block.id %>">
        <div class="constrain">
          <a href="/"><div class="logo" style="width: <%= block.child('logo_size').value %>;"></div></a>
          <a href="/"><div class="mobile_logo"></div></a>
          <div class='register'><a href='/newsletter'>Sign up for our newsletter</a></div>          
          <div class="nav">
          	<ul>
          		<li><a href="/">Home</a></li>
          		<li><a href="/about">About</a></li>
          		<li><a href="/properties/category/land">Land</a></li>
          		<li><a href="/properties/category/commercial">Commercial</a></li>
          		<li><a href="/properties/category/rural">Rural</a></li>
          		<li><a href="/properties/category/residential">Residential</a></li>
          		<li><a href="/services">Services</a></li>
          		<li><a href="/contact/montgomery">Contact Us</a></li>
          	</ul>
          </div>
          <a id="show_menu" href="#sidr"><img src="//d323vxen8l6os.cloudfront.net/assets/icons/sidr.png"></a>	
          <div id="sidr" style="display:none;">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/properties/category/land">Land</a></li>
              <li><a href="/properties/category/commercial">Commercial</a></li>
              <li><a href="/properties/category/residential">Residential</a></li>
              <li><a href="/properties/category/rural">Rural</a></li>
              <li><a href="/contact/montgomery">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>