<% if site.use_retargeting %> 
  <% rc = site.retargeting_config %>
  <% rc.labels(request, page).each do |label %>                                                  
    <script type='text/javascript'>
    /* <![CDATA[ */
    var google_conversion_id = #{rc.conversion_id};
    var google_conversion_label = "<%= raw label %>";
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type='text/javascript' src='//www.googleadservices.com/pagead/conversion.js'></script>
    <noscript>
    <div style='display:inline;'>
    <img height='1' width='1' style='border-style:none;' alt='' src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/<%= raw rc.conversion_id %>/?value=1.00&amp;currency_code=USD&amp;label=<%= raw label %>&amp;guid=ON&amp;script=0'/>
    </div>
    </noscript>
  <% end %>
<% end %>
