
<form action='/register' method='post' id='register_form'>
<p class='other_options'>
<a href='/login'>Already a member?</a>
</p>
<h1>Register</h1>
<input type='text'      name='first_name' id='first_name' placeholder='First name' />
<input type='text'      name='last_name'  id='last_name'  placeholder='Last name' />
<input type='text'      name='email'      id='email'      placeholder='Email address' />
<input type='password'  name='pass1'      id='pass1'      placeholder='Password' />
<input type='password'  name='pass2'      id='pass2'      placeholder='Confirm password' />
<div id='message'></div>
<p>
  <input type='button' id='btn_cancel'   value='Cancel'   onclick="parent.$.fn.colorbox.close();" />
	<input type='submit' id='btn_register' value='Register' onclick='register(); return false;' />
</p>
</form>

<% content_for :caboose_js do %>
<script type='text/javascript'>
var modal = new CabooseModal(400);
function register()
{
  modal.autosize("<p class='loading'>Registering...</p>");
	$.ajax({
		url: '/register',
		type: 'post',
		data: $('#register_form').serialize(),
		success: function(resp) {
		  if (resp.error)
		    modal.autosize("<p class='note error'>" + resp.error + "</p>");
			else if (resp.redirect != false)
			  window.location = resp.redirect;
			else
			  parent.location.reload(true);
		},
		error: function() {	
		  modal.autosize("<p class='note error'>Error</p>"); 
		}
	});
}
</script>
<% end %>
<%= content_for :caboose_css do %>
<%= stylesheet_link_tag "caboose/register", :media => "all" %>
<% end %>
