<div class="caboose-login-wrapper">
  <div class="caboose-login-form-wrapper">
    <h5>Create an Account</h5>
    <form action="/register" method="POST" id="caboose-register-form">
      <div class="field">
        <label for="caboose-register-firstname">First Name</label>
        <input type="text" name="first_name" id="caboose-register-firstname" />
      </div>
      <div class="field">
        <label for="caboose-register-lastname">Last Name</label>
        <input type="text" name="last_name" id="caboose-register-lastname" />
      </div>
      <div class="field">
        <label for="caboose-register-email">Email Address</label>
        <input type="email" name="email" id="caboose-register-email" />
      </div>
      <div class="field">
        <label for="caboose-register-password1">Password</label>
        <input type="password" name="pass1" id="caboose-register-password1" />
      </div>
      <div class="field">
        <label for="caboose-register-password2">Confirm Password</label>
        <input type="password" name="pass2" id="caboose-register-password2" />
      </div>
      <input type="hidden" name="return_url" value="<%= @return_url %>" />
      <div class="caboose-links">
        <a href="/login?return_url=<%= @return_url %>">Login to an existing account</a>
        <a href="/login/forgot-password?return_url=<%= @return_url %>">Forgot your password?</a>
      </div>
      <input type="submit" class="btn" id="caboose-login-btn" value="Register" onclick="caboose_user_register();return false;" />
    </form>
    <div id="caboose-login-message"></div>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'caboose/login' %>
<% end %>

<% content_for :js do %>
<script type="text/javascript">
function caboose_user_register() 
{
  $('#caboose-login-message').html("<p class='note loading'>Registering...</p>");
  $.ajax({
    url: '/register',
    type: 'post',
    data: $('#caboose-register-form').serialize(),
    success: function(resp) {
      if (resp.error) $('#caboose-login-message').html("<p class='note error'>" + resp.error + "</p>");     
      else if (resp.redirect != false) window.location = resp.redirect;
    }   
  });
}
</script>
<% end %>