<%= render :partial => 'caboose/users/admin_header' %>

<div id='login_logs'></div>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'caboose/model/all' %>
<script type='text/javascript'>

$(document).ready(function() {
  var that = this;
  var table = new IndexTable({    
    form_authenticity_token: '<%= form_authenticity_token %>',
    container: 'login_logs',
    base_url: '/admin/login-logs',
    allow_add: false,
    allow_bulk_import: false,
    allow_bulk_edit: false,
    allow_bulk_delete: false,
    allow_duplicate: false,
    allow_advanced_edit: false,
    fields: [       
      { show: true, name: 'date_attempted'  , nice_name: 'Date'       , sort: 'date_attempted' , type: 'text'     , value: function(ll) { return ll.date_attempted }, width: 150, align: 'left', bulk_edit: false, editable: false },
      { show: true, name: 'ip'              , nice_name: 'IP Address' , sort: 'ip'             , type: 'text'     , value: function(ll) { return ll.ip             }, width: 150, align: 'left', bulk_edit: false, editable: false },
      { show: true, name: 'success'         , nice_name: 'Success'    , sort: 'success'        , type: 'checkbox' , value: function(ll) { return ll.success ? 'Yes' : 'No'        }, width: 150, align: 'left', bulk_edit: false, editable: false }            
    ],
    search_fields: [   
      { name: 'date_attempted_gte'  , nice_name: 'Date Min'   , type: 'text'     , width: 150, align: 'left' },
      { name: 'date_attempted_lte'  , nice_name: 'Date Max'   , type: 'text'     , width: 150, align: 'left' },
      { name: 'ip_like'             , nice_name: 'IP Address' , type: 'text'     , width: 150, align: 'left' }  
    ],
    no_models_text: "There are no login logs right now."
  });        
});

</script>
<% end %>
