<h1>New Vendor</h1>

<form id="new-vendor" action="/admin/vendors/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input id="name" name="name" type="text" placeholder="Vendor Name" style="width: 400px" />
  
  <p>
    <input type="button" value="< Back" onclick="window.location='/admin/products'" />
    <input type="submit" value="Add Vendor" />
  </p>
</form>

<% content_for :caboose_js do %>
  <script>
    $(document).ready(function() {
      $('#new-vendor').on('submit', function(event) {
        event.preventDefault();
        
        $.ajax({
          url: '/admin/vendors/create',
          type: 'post',
          data: $(event.delegateTarget).serialize(),
          success: function(response) {
            if (response.success) {
              window.location = response.redirect;
            } else {
              alert(response.message);
            }
          }
        });
      });
    });
  </script>
<% end %>
