<h1>New Vendor</h1>

<form id="new-vendor" action="/admin/vendors" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input id="name" name="name" type="text" placeholder="Vendor Name" style="width: 400px" />
  <div id='message'></div>  
  <p>
    <input type="button" value="< Back" onclick="window.location='/admin/products'" />
    <input type="submit" value="Add Vendor" />
  </p>
</form>

<% content_for :caboose_js do %>
<script>
$(document).ready(function() {
  $('#new-vendor').on('submit', function(event) {
    $('#message').html("<p class='loading'>Adding vendor...</p>");
    event.preventDefault();
    
    $.ajax({
      url: '/admin/vendors',
      type: 'post',
      data: $('#new-vendor').serialize(),
      success: function(resp) {
        if (resp.error)
          $('#message').html("<p class='note error'>" + resp.error + "</p>");
        else if (resp.redirect)
          window.location = resp.redirect;
      }
    });
  });
});
</script>
<% end %>
