<h1>New Vendor</h1>

<form id="new-vendor" action="/admin/store/vendors" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <p><input id="name" name="name" id='name' type="text" placeholder="Vendor Name" style="width: 400px" /></p>
  <p><input type='checkbox' name='stay' id='stay' value='1' /> Stay here so I can add another vendor</p>
  <div id='message'></div>
  <p>
    <input type="button" value="< Back" onclick="window.location='/admin/store/vendors';" />
    <input type="submit" value="Add Vendor" />    
  </p>
</form>

<% content_for :caboose_js do %>
<script>
$(document).ready(function() {
  $('#new-vendor').on('submit', function(event) {
    event.preventDefault();
    var stay = $('#stay').prop('checked');
    
    $('#message').html("<p class='loading'>Adding vendor...</p>");        
    $.ajax({
      url: '/admin/store/vendors',
      type: 'post',
      data: $('#new-vendor').serialize(),
      success: function(resp) {
        if (resp.error)
          $('#message').html("<p class='note error'>" + resp.error + "</p>");
        else
        {
          if (stay)
          {
            $('#name').val('');
            $('#message').html("<p class='note succes'>The vendor has been added successfully.</p>");
            setTimeout(function() { $('#message').empty(); }, 2000);
          }
          else if (resp.redirect)
            window.location = resp.redirect;
        }
      }
    });
  });
});
</script>
<% end %>
