<h1>Sort Products</h1>

<p><select id="category_id">
  <option value="">-- Select a category --</option>
  <% Caboose::Category.options(@site.id).each do |cat| %>
    <option value='<%= cat[:value] %>'><%= cat[:text] %></option>
  <% end %>
</select></p>
<div id='products'></div>
<div id='message'></div>

<% content_for :caboose_js do %>
<script type='text/javascript'>    

$(document).ready(function() {
  $('#category_id').change(function() {
    update_products();  
  });
  update_products();
});

function update_products()
{
  var cat_id = $('#category_id').val();
  if (cat_id == '')
  {
    $('#message').empty().html("<p class'note error'>Please select a category.</p>");
    return;
  }
  
  $('#message').empty().html("<p class'loading'>Getting products...</p>");
  $.ajax({
    url: '/admin/categories/' + cat_id + '/products/json',
    type: 'get',
    success: function(products) {
      var ul = $('<ul/>').attr('id', 'product_list');
      $.each(products, function(i, p) {        
        ul.append($('<li/>').attr('id', 'product_' + p.id).data('id', p.id).html(p.title));      
      });
      $('#message').empty();
      $('#products').empty().append(ul);
      $('#product_list').sortable({
        stop: function(event, ui) 
        {           
          $.ajax({
            url: '/admin/categories/' + $('#category_id').val() + '/products/sort-order',
            type: 'put',            
            data: { 
              product_ids: $.map($('#product_list').sortable('toArray'), function(str, j) { return parseInt(str.replace('product_', '')); })
            }          
          });                        
        }
      });
    }
  });      
}

</script>
<% end %>

<% content_for :caboose_css do %>
<style>

#product_list {      
  list-style: none;
  margin: 0;      
  padding: 0;
  width: 350px;      
}
#product_list li {
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  cursor: grab;
  display: block;
  padding: 6px;
  width: 100%;
}

#product_list li.selected {
  background: #3e9aff;
  border-color: #fff;
  color: #fff;
}
    
</style>
<% end %>
