<%
p = @product
%>
<%= render :partial => 'caboose/products/admin_header' %>

<div id='message'>
<p><input type='button' value='Delete this product' onclick='delete_product(<%= p.id %>);' /></p>
</div>

<%= render :partial => 'caboose/products/admin_footer' %>

<% content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(800);
});

</script>
<% end %>
