<%
if (@user.nil? || @user == Caboose::User.logged_out_user)
%><a href='/login?return_url=<%= request.fullpath %>' id='caboose_login' class='caboose_modal'><span>Login</span></a><%
else
%><a href='/station?page_id=<%= @page.id %>' id='caboose_station' class='caboose_modal'><span>Control Panel</span></a><%
end 
%>