
<div id='top_nav'>
  <% if (@user.nil? || @user.id == Caboose::User::LOGGED_OUT_USER_ID) %>
    <%= link_to "Login", "/login?return_url=#{request.fullpath}", :id => 'caboose_login' %>
  <% else %>
    <%= link_to "Control Panel", '#', :id => 'caboose_conductor' %>
  <% end %>
</div>
