<%
logo = @invoice.site.logo.url(:thumb)
logo = logo.gsub('//','https://') if !logo.nil?
%>

<p><img src='<%= logo %>' /></p>

<h1>Order <%= @invoice.invoice_number %> is ready for payment!</h1>
<p>Please <a href='http://<%= raw @invoice.site.primary_domain.domain %>/my-account/invoices/<%= @invoice.id %>'>review your order</a> and submit payment.</p>
<p>Thank you!</p>
