<p><img src='<%= @order.site.logo.url(:thumb) %>' /></p>

<h1>Order <%= @order.order_number %> is ready for payment!</h1>
<p>Please <a href='http://<%= raw @order.site.primary_domain.domain %>/my-account/orders/<%= @order.id %>'>review your order</a> and submit payment.</p>
<p>Thank you!</p>
