<form action="/cart" method="post">
  <input type="hidden" name="variant_id" />
  <label for="quantity">Qty:</label>
  <input type="text" name="quantity" value="1" />
  <input type="submit" value="Add To Cart" />
</form>

