<% if @logged_in_user.payment_profile_id %>
  <form method="post" action="https://secure.authorize.net/profile/editPayment" id='authnet_form'>
    <input type="hidden" name="Token" value="<%= raw @token %>" />
    <input type="submit" value="Edit my existing payment method"/>
  </form>
<% else %>
  <form method="post" action="https://secure.authorize.net/profile/addPayment" id='authnet_form'>
    <input type="hidden" name="Token" value="<%= raw @token %>" />
    <input type="submit" value="Add payment method"/>
  </form>
<% end %>
<script type='textjavascript'>
//document.getElementById('authnet_form').submit();
</script>
