<h3>Checkout</h3>
<%= render :partial => '/caboose/checkout/cart' %>

<h2>Shipping Address</h2>
<%= render :partial => '/caboose/checkout/shipping_address' %>

<h2>Shipping Method</h2>
<%= render :partial => '/caboose/checkout/shipping_method' %>

<h2>Billing Information</h2>
<%= render :partial => '/caboose/checkout/billing_form' %>
