
<div id='checkout' class='constrain'>
  <p>&nbsp;</p>
  <p class='note'>Your cart is empty. <a href="/products">Go back to the store</a></p>
</div>

<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/message_boxes' %>
<% end %>