<!DOCTYPE>
<html>
  <body>
    <script id="response" type="application/json">
      {
        "success": <%= @success %>,
        "message": "<%= @message %>"
      }
    </script>
  </body>
</html>

