<div id="checkout" class="loading">
  <header>Checkout Step 1 of 3</header>
  <section id="checkout-line-items"></section>  
  <figure class="loading"></figure>
  <section id="checkout-login"></section>
  <section id="checkout-address"></section>
  
  <section id="checkout-continue">
    <button class="blue">Continue</button>
    <em>or</em>
    <a href="/">return to the store</a>
  </section>
</div>
