<div id="checkout" class="loading">
  <header>Thanks for shopping with us!</header>
  <h3><span>step 2 of 2</span></h3>
  <figure class="loading"></figure>
  <section id="checkout-shipping"></section>
  <section id="checkout-line-items"></section>
  <section id="checkout-payment"></section>
  
  <section id="checkout-complete">
    <button class="blue">Complete my Purchase</button>
    <em>or</em>
    <a href="/">return to the store</a>
  </section>
</div>