<div class="span3">
	<div class="row-fluid sidebar">
		<div class="span12">
			<h3>Categories</h3>
			<ul class="nav nav-tabs nav-stacked">
			  <li class="active"><a href="/product">Men's Shirts</a></li>
			  <li><a href="/product">Men's Pants</a></li>
			  <li><a href="/product">Men's Accessories</a></li>
			  <li><a href="/product">Women's Shirts</a></li>
			  <li><a href="/product">Women's Pants</a></li>
			  <li><a href="/product">Women's Accessories</a></li>
			  <li><a href="/product">Children</a></li>
			</ul>
			
			<h3>Information</h3>
			<ul class="nav nav-tabs nav-stacked">
			  <li><a href="/confirm">Payment Confirmation</a></li>
			  <li><a href="#">Delivery</a></li>
			  <li><a href="#">Secure Payment</a></li>
			  <li><a href="#">Our Stores</a></li>
			  <li><a href="/about">About Us</a></li>
			  <li><%= link_to "Contact Us", '#contact' %></li>
			  <li><a href="/testimonial">Testimony</a></li>
			</ul>
		</div>
	</div>
</div>