	<%= render 'layouts/header' %>
	<%= render 'layouts/banner' %>
	<div class="page-content">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<ul class="breadcrumb">
					  <li><a href="#">Home</a> <span class="divider">/</span></li>
					  <li class="active">About Us</li>
					</ul>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span8">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
				</div>
				<div class="span4">
					<img src="https://dmwwflw4i3miv.cloudfront.net/s3.jpg" alt="dodolan manuk catalogue">
				</div>
			</div>
			
			<div class="row-fluid padd20-top-btm">
				<div class="span4">
					<img src="https://dmwwflw4i3miv.cloudfront.net/s3.jpg" alt="dodolan manuk catalogue">
				</div>
				<div class="span8">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
				</div>
			</div>
			
			<div class="row-fluid padd20-top-btm">
				<div class="span12 t-center">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
				</div>
			</div>
		</div>
	</div>
	<%= render 'layouts/footer' %>