<%= render 'layouts/header' %>
<%= render 'layouts/banner' %>
<div class="page-content">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<ul class="breadcrumb">
					  <li><a href="#">Home</a> <span class="divider">/</span></li>
					  <li class="active">Blog</li>
					</ul>
				</div>
			</div>
			
			<div class="row-fluid blog">
				<div class="span9">
					<div class="row-fluid blog-post">
						<div class="span12">
							<h2>
								<span class="the-calendar">
									<span class="the-date"><i class="icon-calendar"></i> 01/06/13</span>
									<span class="the-comments"><i class="icon-comments"></i> 2</span>
								</span>
								<a href="/single">Lorem ipsum dolor sit amet</a>
							</h2>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
							<p><a href="/single" class="btn btn-warning">Read more &raquo;</a></p>
							<p class="meta-tags"><i class="icon-tags"></i> <a href="#">Design</a>, <a href="#">web Design</a>, <a href="#">Typhography</a></p>
						</div>
					</div>
					
					<div class="row-fluid blog-post">
						<div class="span12">
							<h2>
								<span class="the-calendar">
									<span class="the-date"><i class="icon-calendar"></i> 01/06/13</span>
									<span class="the-comments"><i class="icon-comments"></i> 2</span>
								</span>
								<a href="/single">Lorem ipsum dolor sit amet</a>
							</h2>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
							<p><a href="/single" class="btn btn-warning">Read more &raquo;</a></p>
							<p class="meta-tags"><i class="icon-tags"></i> <a href="#">Design</a>, <a href="#">web Design</a>, <a href="#">Typhography</a></p>
						</div>
					</div>
					
					<div class="row-fluid blog-post">
						<div class="span12">
							<h2>
								<span class="the-calendar">
									<span class="the-date"><i class="icon-calendar"></i> 01/06/13</span>
									<span class="the-comments"><i class="icon-comments"></i> 2</span>
								</span>
								<a href="/single">Lorem ipsum dolor sit amet</a>
							</h2>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
							<p><a href="/single" class="btn btn-warning">Read more &raquo;</a></p>
							<p class="meta-tags"><i class="icon-tags"></i> <a href="#">Design</a>, <a href="#">web Design</a>, <a href="#">Typhography</a></p>
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="span12">
							<div class="pagination pagination-centered">
							  <ul>
								<li class="disabled"><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							 </ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="span3">
					<div class="row-fluid blog-sidebar">
						<div class="span12">
							<div class="widget">
								<h3>Lorem ipsum dolor sit amet</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
							</div>
							
							<div class="widget">
								<h3>Recent post</h3>
								<ul>
									<li>
										<div class="column-posts">
											<div class="featured-post-img">
												<a href="/single"><img src="/assets/manuk.png" alt="dodolan manuk"></a>
											</div>
											<div class="featured-post-content">
											<h5>
												<a href="/single">New Article</a>
											</h5>
											<small><i class="icon-calendar"></i> <time>02 May 2013</time>, Oleh <a href="#">admin</a></small>
											</div>
										</div>
									</li>
									<li>
										<div class="column-posts">
											<div class="featured-post-img">
												<a href="/single"><img src="/assets/manuk.png" alt="dodolan manuk"></a>
											</div>
											<div class="featured-post-content">
											<h5>
												<a href="/single">New Article</a>
											</h5>
											<small><i class="icon-calendar"></i> <time>02 May 2013</time>, Oleh <a href="#">admin</a></small>
											</div>
										</div>
									</li>
									<li>
										<div class="column-posts">
											<div class="featured-post-img">
												<a href="/single"><img src="/assets/manuk.png" alt="dodolan manuk"></a>
											</div>
											<div class="featured-post-content">
											<h5>
												<a href="/single">New Article</a>
											</h5>
											<small><i class="icon-calendar"></i> <time>02 May 2013</time>, Oleh <a href="#">admin</a></small>
											</div>
										</div>
									</li>
								</ul>
							</div>
							
							<div class="widget widget-tags">
								<h3>Tags</h3>
								<ul>
									<li><a href="#">Design</a></li>
									<li><a href="#">Web</a></li>
									<li><a href="#">Photography</a></li>
									<li><a href="#">Graphics</a></li>
									<li><a href="#">Typography</a></li>
									<li><a href="#">Art</a></li>
									<li><a href="#">Film</a></li>
									<li><a href="#">Video</a></li>
								</ul>
							</div>
							
							<div class="widget">
								<h3>Text Widget</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum.</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<%= render 'layouts/footer' %>