/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbox-rails
 *= require caboose/fonts
 *= require caboose/caboose  
 */

#cboxLoadedContent { margin-bottom: 0; }
 
body {
  margin: 0;
  padding: 0;  
}

#top_nav {
  background: #000;
  border-bottom: #333 1px solid;
  height: 50px;
  position: relative;
}

#top_nav .caboose_logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(/assets/caboose/caboose_logo_small.png);
}

#top_nav ul {
  margin: 0;
  padding: 0 8px 0 0;
  list-style: none;
  text-align: right;
}

#top_nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

#top_nav ul li a {
  display: block;
  margin: 8px 4px;
  padding: 8px 16px;
  border: #333 1px solid;
  text-decoration: none;
  height: 16px;
}

#top_nav ul li a        { color: #ccc; border: #333 1px solid; background: #000; }
#top_nav ul li a:hover  { color: #fff; border: #444 1px solid; background: #000; }
#top_nav ul li a:active { color: #fff; border: #666 1px solid; background: #333; }

#content_wrapper {
  position: relative;
}

#content {
  padding: 0 0 0 30px;
}

#content h1 {
  margin: 0 0 20px -30px;
  padding: 40px 0 0 30px;
  height: 80px;
  background: #e1e1e1;
  border-bottom: #aaa 1px solid;
  font-size: 36pt;
}

#content h1.model_attribute_h1 {
  margin: inherit;
  padding: inherit;
  height: auto;
  background: transparent;
  border-bottom: none;
  font-size: 36pt;
}

p.current_page_editing {
  position: absolute;
  top: 84px;
  left: 4px;
  
  margin: 0;
  padding: 10px 10px 10px 30px;
}
