
#left_content {
  width: 280px;
  float: left; 
  &.hide-products {
    #categories ul li.product-sub-li {
      display: none;
    }
    #categories ul li.products-li a::after {
      transform: rotate(180deg);
    }
  }
}

#right_content {
  margin-left: 300px; 
}

#uploader {
  .caboose-btn {
    margin-right: 6px;
  }
}

#categories {  
  ul {
    list-style: none; 
    margin: 0; 
    padding: 0;
    li {       
      list-style: none; 
      margin: 0;
      padding: 0;
      &.products-li a {
        text-transform: uppercase;
        background: #e6ffe1;
        &::after {
          content: "^";
          position: absolute;
          right: 10px;
          top: 3px;
          transition: transform 300ms ease;
        }
      }
      &.product-sub-li {
    //    display: none;
      }
      a {
          display: block;
          margin: 0 0 3px 0;
          padding: 4px 8px 4px 8px;
          font-size: 13px;
          line-height: 15px;
          background: #f3f3f3;
          border: #d8d8d8 1px solid;
          color: #292929;
          text-decoration: none;
          border-radius: 4px;
        &:focus {
          outline-width: 0;
        }
        &:hover {
          background-color: #fffcdb;        
        }
      }
      
      &.selected {
        a {
     //     font-weight: bold;
          background-color: #d1f2ff;
        }
      }
      &.cat_hover {
        a {
          background-color: #fffcdb !important;
        }
      }
    }    
  }
}

#controls {
  #delete {
    p.delete_dropper {        
      padding: 8px 8px;
      background: #efefef;
      border: #c7c7c7 1px solid;
      color: #000;
      text-decoration: none;
    }
    &.hover {
      p.delete_dropper {        
        background-color: #fffcdb !important;    
      }
    }
  }
}

#the_uploader {
  margin-bottom: 20px;
  padding-right: 20px; 
}
    
#media {
  padding-right: 2%;
  ul {
    list-style: none; 
    margin: 0 0 20px 0; 
    padding: 0; 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    li {
      -webkit-box-flex: 0 1 150px;
      -moz-box-flex:  0 1 150px;
      -webkit-flex:  0 1 150px;
      -ms-flex:  0 1 150px;
      flex:  0 1 150px;
      position: relative;
      list-style: none; 
      margin: 0 10px 20px 0; 
      padding: 0 0 35px 0;   
      display: block;
      overflow: hidden;
      text-align: center;
    //  padding: 8px;
      border: 1px solid #dadada;
      &.png {
        background-image: url('/assets/caboose/grid.png');
        background-size: 16px;
        background-color: #e4e4e4;
        &.selected {
          background-image: none;
        }
      }
      &.empty {
        background-color: #bdbdbd;
        background-image: none;
      }
      .table {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 120px;
      }

      .table-cell {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
      img {
        display: block;
        margin: 0 auto 0 auto;
        max-width: 100%;
        max-height: 120px;
      }
      span.name { 
        display: block; 
        position: relative; 
        // top: 0;
        // left: 0;
        height: auto;
        overflow: hidden;
        width: 100%;
        font-size: 12px;
        text-align: center;        
        background: rgba(0,0,0,0.7);
        padding: 3px;
        color: #fff; 
        text-decoration: none !important;                                   
      }
      .file-icon {
        display: block;
        width: 80px;
        margin: 10px auto 0 auto;
      }
      .buttons {
        margin-top: 10px;
     //   padding: 0 10px 6px 10px;
        position: absolute;
        left: 2%;
        bottom: 3px;
        width: 96%;
        &::after {
          content: "."; 
          visibility: hidden; 
          display: block; 
          height: 0; 
          clear: both;
        }
      }
      a {
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        font-size: 11px;
        text-align: center;
        color: #000;
        border-radius: 4px;
        padding: 4px;
        &:focus {
          outline-width: 0;
        }
        &:first-of-type {
          background: #516dbb;
          color: #fff;
          float: left;
          &:hover {
            background: shade(#516dbb, 10%);
          }
        }
        &.dl {
          // right: 8px;
          left: initial;
          float: right;
          background: #51bd63;
          color: #fff;
          // width: 100%;
          &:hover {
            background: shade(#51bd63, 10%);
          }
          &.i {
            width: auto;
          }
        }
      }
      &:hover {
        background-image: none;
        background-color: #fffcdb;
     //   span { background-color: #fffcdb; color: #000; }
      }
      &.selected {
        background-color: #d1f2ff;
   //     border: #90dbf9 4px solid;
        span { background-color: #90dbf9; color: #000; }
      }
    }
  }
}
