
#content .page_block h1 {
  background: transparent;
  border-bottom: none;
}

#pageblocks { list-style: none; margin: 0 20px 0 -20px; padding: 0; min-height: 100px; }
#pageblocks > li { list-style: none; margin: 0; padding: 0; position: relative; }
#pageblocks > li:hover { background: #fff799; }
#pageblocks .ui-selecting { background: #ddd; }
#pageblocks .ui-selected  { background: #fff799; }
#pageblocks .sortable-placeholder { height: 40px; background: #fff799; border: #ccc 1px solid; }

#pageblocks li .sort_handle   { display: none; }
#pageblocks li .delete_handle { display: none; }
#pageblocks li:hover .sort_handle   { position: absolute; top: 0; right: 22px; display: block; width: 20px; height: 20px; background-color: #ccc; }
#pageblocks li:hover .delete_handle { position: absolute; top: 0; right:  0px; display: block; width: 20px; height: 20px; background-color: #ccc; }
#pageblocks li:hover .sort_handle   span { margin: 2px 1px; }
#pageblocks li:hover .delete_handle span { margin: 2px 1px; }

.sortable_placeholder {
  background: #ccc;
  height: 100px;
  width: 100%;  
}

.page_block.over {
  background: #fef49c;
}

.page_block {
  z-index: 19;  
  border: transparent 1px solid;
  margin: 0 0 2px 20px;
}

#page_block_new {  
  border: #ccc 1px solid;
  padding: 10px;
  background: #fef49c;
}

#new_blocks_container1 { position: absolute; top: 30px; right: 20px; width: 200px; text-align: right; z-index: 100; }
#new_blocks_container2 { position: relative; border: #ccc 1px solid; padding-bottom: 0; } 
#new_blocks { list-style: none; margin: 0; padding: 0; }
#new_blocks li { list-style: none; margin: 2px; padding: 4px; background: #eee; border: #ccc 1px solid; text-align: left; }
