/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require modeljs
 *= require caboose/caboose 
 */

body {
  margin: 0;
  padding: 0;  
}

#top_nav {
  display: none;
}

#content_wrapper {
  position: relative;
  margin-left: 208px;
}

#content {
  padding: 0 0 0 30px;
}

#content h1 {
  margin: 0 0 20px -30px;
  padding: 40px 0 0 30px;
  height: 80px;
  background: #e1e1e1;
  border-bottom: #aaa 1px solid;
  font-size: 36pt;
}

#content h1.model_attribute_h1 {
  margin: inherit;
  padding: inherit;
  height: auto;
  background: transparent;
  border-bottom: none;
  font-size: 36pt;
}

p.current_page_editing {
  position: absolute;
  top: 84px;
  left: 4px;
  
  margin: 0;
  padding: 10px 10px 10px 30px;
}
