
#left_content {
  width: 280px;
  float: left; 
}

#right_content {
  margin-left: 300px; 
}

#categories {  
  ul {
    list-style: none; 
    margin: 0; 
    padding: 0;
    
    li {       
      list-style: none; 
      margin: 0;
      padding: 0;
      
      a {
        display: block;
        margin: 0 0 2px 0;
        padding: 4px 8px;
        background: #ddd;
        border: #999 1px solid;
        color: #000;
        text-decoration: none;
        
        &:hover {
          background-color: #fff799;        
        }
      }
      
      &.selected {
        a {
          font-weight: bold;
          background-color: #90dbf9;
        }
      }
      &.cat_hover {
        a {
          background-color: #fff799 !important;
        }
      }
    }    
  }
}

#controls {
  #delete {
    p.delete_dropper {        
      padding: 8px 8px;
      background: #ddd;
      border: #999 1px solid;
      color: #000;
      text-decoration: none;
    }
    &.hover {
      p.delete_dropper {        
        background-color: #fff799 !important;    
      }
    }
  }
}

#the_uploader {
  margin-bottom: 20px;
  padding-right: 20px; 
}
    
#media {
  ul {
    list-style: none; 
    margin: 0 0 20px 0; 
    padding: 0; 
    
    li { 
      position: relative;
      list-style: none; 
      margin: 4px; 
      padding: 0;   
      display: inline-block;
      width: 150px;
      height: 165px;
      overflow: hidden;
      background-color: #666;
      background-position: center;
      background-size: contain; 
      background-repeat: no-repeat;
      border: #666 4px solid;
      text-align: center;
      img {
        max-height: 120px;
        max-width: 90%;
      }
      span.name { 
        display: block; 
        position: absolute; 
        bottom: 18px;
        font-size: 13px;
        width: 150px; 
        text-align: center;        
        color: #fff; 
        text-decoration: none !important;                                   
      }
      .file-icon {
        display: block;
        width: 80px;
        margin: 10px auto 0 auto;
      }
      a {
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        color: #000;
        &:hover {
          color: blue;
        }
        &.dl {
          right: 0;
          left: initial;
          width: 100%;
          &.i {
            width: auto;
          }
        }
      }
      &:hover {
        background-color: #fff799;
        border: #fff799 4px solid;
        span { background-color: #fff799; color: #000; }
      }
      &.selected {
        background-color: #90dbf9;
        border: #90dbf9 4px solid;
        span { background-color: #90dbf9; color: #000; }
      }
    }
  }
}
