/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbox-rails
 *= require jquery.ui.all
 *= require caboose/fonts
 *= require caboose/caboose
 *= require caboose/model_binder
 */

#cboxLoadedContent { margin-bottom: 0; }

 
body {
  margin: 0;
  padding: 0;  
  font-family: "Avenir", serif;
}

#cboxOverlay {
  opacity: 0.85 !important;
  background: url('/assets/caboose/modal_overlay.png') !important;
}

#cboxWrapper {
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  border-radius: 7px !important;
}

#top_nav {
  background: #c1c1c1;
  border-bottom: #333 1px solid;
  height: 90px;
  position: relative;
}

#top_nav .caboose_logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100px;
  background-color: black;
  width: 200px;
  background-image: url('/assets/caboose/caboose_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
}

#top_nav ul {
  margin: 0;
  padding: 0 8px 0 0;
  list-style: none;
  text-align: right;
}

#top_nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

#top_nav ul li a {
  display: block;
  margin: 8px 4px;
  padding: 8px 16px;
  border: #333 1px solid;
  text-decoration: none;
  height: 16px;
}

#top_nav ul li a        { color: #ccc; border: #333 1px solid; background: #000; }
#top_nav ul li a:hover  { color: #fff; border: #444 1px solid; background: #000; }
#top_nav ul li a:active { color: #fff; border: #666 1px solid; background: #333; }

#content_wrapper {
  position: relative;
}

#content {
  padding: 0 0 0 30px;
}

#content h1 {
  margin: 0 0 20px -30px;
  padding: 20px 0 15px 20px;
  height: 80px;
  background: #e1e1e1;
  border-bottom: #aaa 1px solid;
  font-size: 30px;
}

#content h1.model_attribute_h1 {
  margin: inherit;
  padding: inherit;
  height: auto;
  background: transparent;
  border-bottom: none;
  font-size: 36pt;
}

p.current_page_editing {
  position: absolute;
  top: 84px;
  left: 4px;
  
  margin: 0;
  padding: 10px 10px 10px 30px;
}

#content p.loading {
  background-image: url('/assets/caboose/loading_black_on_white.gif');
  background-position: 0 center;
  background-repeat: no-repeat;
  color: #000;  
  font-weight: normal;
  font-size: 16pt;
  padding: 10px 10px 10px 40px;
}

#content div.yesnobox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-align: center;
}

#content div.yesnobox div {
  padding: 20px;
}
  
#content div.yesnobox input {
  width: auto;  
}

div.model_attribute_text {
  color: #000;
}

#content div.top_right_controls {
  position: absolute;
  top: 0;
  right: 0;
}

#content div.top_right_controls a {
  display: inline-block;
  margin: 0;
  padding: 4px 8px;
}

input, select, textarea {
  font-family: "Avenir", arial;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 4px 8px;
  height: 34px;
  font-size: 20px;
  z-index: 20;
}

input.dirty,
textarea.dirty {
  background: #fff799;  
}

select {
  padding: 0;
  height: 44px;
}

select.mb_fake {
  height: 44px !important;
}
select.fake {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}

select.fake option {
  background: #fff;
  color: #000;
}

#content .bound_input_check a,
#content .bound_input_cancel a {
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  
  font-size: 28px;
  text-align: center;
  background: #00cc00;
  color: #fff;
  
  display: block;
  padding: 4px 0;
  height: 34px;
}

#content .bound_input_check a.loading {
  background-image: url(/assets/caboose/loading_green.gif);
  background-color: #00cc00;
  background-repeat: no-repeat;
  background-position: 6px 5px;
  color: rgba(255, 255, 255, 0.0);
}

#content .bound_textarea_controls a {
  display: inline-block;
  margin: 3px 0 0 1px;
  padding: 8px 0 6px 0;
  background: #ccc;
  color: #000;
  text-align: center;
  border: #666 1px solid;
}

#content .bound_textarea_controls a.save    { width: 60px; }
#content .bound_textarea_controls a.discard { width: 80px; }
  
#content .note,
#content .error {
  margin: 0;
}

#content .placeholder {
  display: block;
  margin: 0;
  padding: 0 5px 0 0;
  height: 34px;
  
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 19;
}

#content .placeholder span {
  display: block;
  font-size: 20px;
  color: #757575;
}

#content input[type='checkbox'] {
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 19;
  
  margin: 0;
  padding: 0;
  width: 20px;
}

#content .search_form {
  position: absolute;
  top: 0;
  right: 0;  
}

#content table.data {
  border-collapse: collapse;
}
  
#content table.data th {
  background: #333;
  border: #333 1px solid;  
  color: #fff;
  margin: 0;
  padding: 0;
}

#content table.data th a {
  color: #fff;
  display: block;
  text-decoration: none;
  border: none;
  padding: 8px 12px;
}

#content table.data th a:hover {
  color: #000;
  background: #fff;
}

#content table.data td {
  background: #fff;
  border: #333 1px solid;
  margin: 0;
  padding: 8px 12px;
}

#content table.data tr:nth-child(even) td {
  background-color: #efefef;
}


#content table.data tr:nth-child(odd) td {
  background-color: transparent;
}

#content table.data tr:hover td,
#content table.data tr:nth-child(even):hover td,
#content table.data tr:nth-child(odd):hover td {
  background: #fff799;
  cursor: pointer; 
  cursor: hand;
}

/*******************************************************************************
Modeljs
*******************************************************************************/

#content div.model_attribute_text {
    color: #fff;
}

#content .model_attribute {
    background: none repeat scroll 0 0 transparent;
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}

#content .clear {
  clear: both;
  line-height: 0;  
}

/*******************************************************************************
Message boxes
*******************************************************************************/

#content .note {
	padding: 20px;
	background: #fef49c;
	color: #000000;
	font-weight: bold;
	font-size: 1.4em;	
}

#content .note_small {
  display: block;
	padding: 4px 10px;
	background: #fef49c;
	color: #000000;
	font-size: 1em;	
}

#content .error {
	background: #9c171b;
	color: #ffffff;
}

#content .error a {
	color: #fff;	
}

#content .error a:hover {
	color: #000;	
}

#content .success {
	background: #009900;
	color: #ffffff;
}

#content .success a {
	color: #ffffff;	
}

/*******************************************************************************
Page Bar Generator
*******************************************************************************/

.page_links {
  
}

.page_links a {
  display: inline-block;
  margin: 0 2px;
  padding: 5px 8px 3px 8px;
  
  border: #333 1px solid;
  background: #333;
  color: #fff;
  text-decoration: none;
}

.page_links a:hover {
  background: #505050;
  color: #fff;
}

.page_links .middle_links a {
  
}

.page_links span.current_page {
  display: inline-block;
  padding: 5px 8px 3px 8px;
  
  border: #333 1px solid;
  background: #ccc;
  color: #000;
  text-decoration: none;
}

#search_form input[type='text']   { height: 20px; padding: 6px 12px; }
#search_form input[type='submit'] { height: 35px; padding: 0 12px; }


/******************************************************************************/

#tabs { 
  width: 200px;
  float: left;  
  /*
  position: absolute;
  top: 41px;
  left: 0;
  */
  list-style: none; 
  margin: -20px 0 0 -30px; 
  padding: 0;
  border-top: #ccc 0px solid;
}
#tabs ul li { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}
#tabs li.back {
  padding: 10px;
}
#tabs a {
  display: block;
  margin: 0;
  padding: 16px 12px 12px 12px;
  text-decoration: none;
  background: #efefef;
  border-bottom: #ccc 1px solid;
  color: #000;
}
#tabs a:hover {
  background: #666;
  color: #fff;  
}
#tabs li.selected a {
  background: transparent;
  color: #000;
  font-weight: bold;  
}
#content2 {
  margin-left: 220px; 
}
