
#modal_tabs { 
  width: 200px;
  float: left;  
  /*
  position: absolute;
  top: 41px;
  left: 0;
  */
  list-style: none; 
  margin: 0; 
  padding: 0;
  border-top: #ccc 1px solid;
}
#modal_tabs ul li { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}
#modal_tabs li.back {
  padding: 10px 0;
}
#modal_tabs a {
  display: block;
  margin: 0;
  padding: 16px 12px 12px 12px;
  text-decoration: none;
  background: #efefef;
  border-bottom: #ccc 1px solid;
  color: #000;
}
#modal_tabs a:hover {
  background: #666;
  color: #fff;  
}
#modal_tabs li.selected a {
  background: transparent;
  color: #000;
  font-weight: bold;  
}
#modal_content2 {
  margin-left: 220px; 
}
#modal_content h1 {
  height: 30px;
  padding-bottom: 10px;
  border-bottom: #666 1px dotted;
}
#variants_wrapper {
  width: 100%;
}
#variants {
  border-collapse: collapse; 
}
#variants td {
  margin: 0;
  padding: 0;
  border: #666 1px dotted;
}
#variants td input[type='text'] {
  background: transparent;
  color: #000;
  border: 0;
  font-size: 75%;
}
#variants th {
  font-size: 85%;
}
#variants td.edit a {
  display: block;
  padding: 12px 12px;
  border: 0;  
}
#variants td.edit a:hover {
  background: #333;
  color: #fff;  
}
#variants td.delete a {
  display: block;
  padding: 12px 12px;
  border: 0;  
}
#variants td.delete a:hover {
  background: #333;
  color: #fff;  
}
