
body {
  font-family: Helvetica, Tahoma, Arial;  
}

#wrapper {
  width: 960px; 
}

.page_links {
  
}

.page_links a {
  display: inline-block;
  margin: 0 2px;
  padding: 5px 8px 3px 8px;
  
  border: #505050 1px solid;
  background: #e1e1e1;
  color: #505050;
  text-decoration: none;
}

.page_links a:hover {
  background: #505050;
  color: #fff;
}

.page_links .middle_links a {
  
}

.page_links span.current_page {
  display: inline-block;
  padding: 5px 8px 3px 8px;
  
  border: #941403 1px solid;
  background: #941403;
  color: #fff;
  text-decoration: none;
}

#caboose_station {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 208px;
  height: 100%;
  background: #e1e1e1;
  border: #aaa 1px solid;
}

#caboose_station h2 {
  height: 86px;
  background-image: url('/assets/caboose/caboose_nav.png');
  background-position: 0 -33px;
  margin: 0;
  padding: 0;
  border-bottom: #aaa 1px solid;
  
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#caboose_station ul.account {
  margin: 0;
  padding: 0;
  list-style: none; 
  height: 33px;
}

#caboose_station ul.account li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  border: 0;
  background: #ccc;
}

#caboose_station ul.account li a {
  display: block;
  margin: 0;
  padding: 0;
  height: 33px;
  background-image: url(/assets/caboose/caboose_nav.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#caboose_station ul.account li.my_account a { width: 103px; background-position:    0px 0px; border-right: #828181 1px solid; }
#caboose_station ul.account li.logout     a { width: 103px; background-position: -106px 0px; border-left:  #cecece 1px solid; }

#caboose_station ul.account li.my_account a:hover { background-position: -212px 0px; }
#caboose_station ul.account li.logout     a:hover { background-position: -318px 0px; }

#caboose_station ul.account li a:hover {
  color: #941403;
}

#caboose_station ul.admin {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station ul.admin li {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station ul.admin li ul {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station ul.admin a {
  display: block;
  margin: 1px 0 0 0;
  padding: 8px 10px;
  color: #505050;
  text-decoration: none;
}

#caboose_station ul.admin a:hover {
  color: #941403;
}

#caboose_station ul.admin a.top_level {
  background-image: url('/assets/caboose/caboose_nav.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 208px;
  height: 50px;
  margin: 0;
  padding: 0;
  border-top: #f7f7f7 1px solid;
  border-bottom: #aaa 1px solid;
  
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#caboose_station ul.admin li#nav_item_users       a.top_level { background-position: 0px -119px; }
#caboose_station ul.admin li#nav_item_roles       a.top_level { background-position: 0px -171px; }
#caboose_station ul.admin li#nav_item_permissions a.top_level { background-position: 0px -222px; }
#caboose_station ul.admin li#nav_item_pages       a.top_level { background-position: 0px -275px; }
#caboose_station ul.admin li#nav_item_settings    a.top_level { background-position: 0px -328px; }

#caboose_station ul.admin li#nav_item_users       a.top_level:hover { background-position: -212px -119px; }
#caboose_station ul.admin li#nav_item_roles       a.top_level:hover { background-position: -212px -171px; }
#caboose_station ul.admin li#nav_item_permissions a.top_level:hover { background-position: -212px -222px; }
#caboose_station ul.admin li#nav_item_pages       a.top_level:hover { background-position: -212px -275px; }
#caboose_station ul.admin li#nav_item_settings    a.top_level:hover { background-position: -212px -328px; }

#caboose_station ul.admin li#nav_item_users       a.top_level:active { background-position: -424px -119px; }
#caboose_station ul.admin li#nav_item_roles       a.top_level:active { background-position: -424px -171px; }
#caboose_station ul.admin li#nav_item_permissions a.top_level:active { background-position: -424px -222px; }
#caboose_station ul.admin li#nav_item_pages       a.top_level:active { background-position: -424px -275px; }
#caboose_station ul.admin li#nav_item_settings    a.top_level:active { background-position: -424px -328px; }

#caboose_station.state_left a.close, 
#caboose_station.state_right a.close {
  display: block;
  background-image: url('/assets/caboose/caboose_nav.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 208px;
  height: 50px;
  
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#caboose_station.state_left  a.close        { background-position:    0px -422px; } /* Back  */
#caboose_station.state_right a.close        { background-position:    0px -380px; } /* Close */
#caboose_station.state_left  a.close:hover  { background-position: -212px -422px; } /* Back  */
#caboose_station.state_right a.close:hover  { background-position: -212px -380px; } /* Close */
#caboose_station.state_left  a.close:active { background-position: -424px -422px; } /* Back  */
#caboose_station.state_right a.close:active { background-position: -424px -380px; } /* Close */
