
body {
  font-family: Helvetica, Tahoma, Arial;  
}

#wrapper {
  width: 960px; 
}

.page_links {
  
}

.page_links a {
  display: inline-block;
  padding: 4px 8px;
  border: #efefef 1px solid;
}

.page_links .middle_links a {
  
}

.page_links span.current_page {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
}

#caboose_station {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #333;
  border: #000 2px solid;
}

#caboose_station ul {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station ul li {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 1px 0 0 0;
  padding: 8px 10px;
  background: #444;
}

#caboose_station a:hover {
  background: #555;  
}

#caboose_station 