
@font-face {
	font-family: 'BigNoodleTitling';
	src: local('Big Noodle Titling'), url('/assets/caboose/fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: url('//d1ygukj37mahb2.cloudfront.net/assets/avenir-medium.eot');
  src: url('//d1ygukj37mahb2.cloudfront.net/assets/avenir-medium.eot') format('embedded-opentype'),
       url('//d1ygukj37mahb2.cloudfront.net/assets/avenir-medium.woff')       format('woff'),
       url('//d1ygukj37mahb2.cloudfront.net/assets/avenir-medium.ttf')        format('truetype'),
       url('//d1ygukj37mahb2.cloudfront.net/assets/avenir-medium.svg')        format('svg');
  font-weight: normal;
  font-style: normal;
}
