
@font-face {
	font-family: 'BigNoodleTitling';
	src: local('Big Noodle Titling'), url('/assets/caboose/fonts/big_noodle_titling.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/AvenirNext.ttf')        format('truetype');
  font-weight: normal;
  font-style: normal;
}
