
#the_modal div.icons { max-height: 800px; overflow-y: scroll; }
#the_modal div.icons h2 { clear: both; padding: 20px 0px 10px 0; text-align: center; }
#the_modal div.icons a { display: block; float: left; margin: 4px; width: 120px; height: 100px; text-align: center; vertical-align: middle; border: #000 1px solid; text-decoration: none; border-radius: 3px; overflow: hidden; }
#the_modal div.icons a span.icon { display: block; padding: 10px 20px; font-size: 24pt; color: #000 !important; }
#the_modal div.icons a span.name { display: block; font-size: 12pt; color: #000 !important; }
#the_modal div.icons a:hover           { color: #000 !important; background: #fff69f; border: #000 1px solid; }
#the_modal div.icons a:hover span.icon { color: #000 !important; }
#the_modal div.icons a:hover span.name { color: #000 !important; }

#the_modal { box-sizing: border-box; }   
#the_modal p { margin-bottom: 10px; }
#the_modal .mb_container input { border: #ccc 1px solid; }                                                          
#the_modal div.mb_container div.mb_placeholder { top: 9px; }
#the_modal div.mb_container div.mb_placeholder span { font-size: 16px; }                                                         
#the_modal div.mb_container select { border: #ccc 1px solid; height: 36px; }
#the_modal div.mb_container select option { font-size: 16px; }
#the_modal div.mb_container input[type=checkbox] { top: 12px; }
#the_modal #modal_crumbtrail,
#the_modal #modal_crumbtrail h2,
#the_modal #modal_crumbtrail h2 a { font-size: 16pt !important; }

