
#the_modal { box-sizing: border-box; }   
#the_modal p { margin-bottom: 10px; }
#the_modal .mb_container input { border: #ccc 1px solid; }                                                          
#the_modal div.mb_container div.mb_placeholder { top: 9px; }
#the_modal div.mb_container div.mb_placeholder span { font-size: 16px; }                                                         
#the_modal div.mb_container select { border: #ccc 1px solid; height: 36px; }
#the_modal div.mb_container select option { font-size: 16px; }
#the_modal div.mb_container input[type=checkbox] { top: 12px; }

