/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbox-rails
 *= require caboose/fonts
 *= require caboose/caboose
 */

html { width: 100%; }

body {
  background: #111111;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;  
  font-family: Helvetica, Arial;
}

#modal_wrapper {
  width: 100%;
  position: relative;
}

#modal_content {
  width: 100%;
	max-width: 100%;
  padding: 0;
}

#modal_content h1 {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: normal;
  background: #111111;   
}

#modal_content a {
  color: #ccc;
  text-decoration: none;
  border-bottom: #999 1px dotted;  
}

#modal_content p.loading {
  background-image: url('/assets/caboose/loading_white_on_black.gif');
  background-position: 0 center;
  background-repeat: no-repeat;
  color: #ccc;  
  font-weight: normal;
  font-size: 16pt;
  padding: 10px 10px 10px 40px;
}

#modal_content div.yesnobox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-align: center;
}

#modal_content div.yesnobox div {
  padding: 20px;
}
  
#modal_content div.yesnobox input {
  width: auto;  
}

div.model_attribute_text {
  color: #000;
}

#modal_content div.top_right_controls {
  position: absolute;
  top: 0;
  right: 0;
}

#modal_content div.top_right_controls a {
  display: inline-block;
  margin: 0;
  padding: 4px 8px;
}

input, select, textarea {
  font-family: Helvetica, arial;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 4px 8px;
  height: 34px;
  font-size: 20px;
  z-index: 20;
}

input.dirty,
textarea.dirty {
  background: #fff799;  
}

select {
  padding: 0;
  height: 44px;
}

option {
  
}

select.fake {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}

select.fake option {
  background: #fff;
  color: #000;
}

#modal_content .bound_input_check a,
#modal_content .bound_input_cancel a {
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  
  font-size: 28px;
  text-align: center;
  background: #00cc00;
  color: #fff;
  
  display: block;
  padding: 4px 0;
  height: 34px;
}

#modal_content .bound_input_check a.loading {
  background-image: url(/assets/caboose/loading_green.gif);
  background-color: #00cc00;
  background-repeat: no-repeat;
  background-position: 6px 5px;
  color: rgba(255, 255, 255, 0.0);
}

#modal_content .bound_textarea_controls a {
  display: inline-block;
  margin: 3px 0 0 1px;
  padding: 8px 0 6px 0;
  background: #ccc;
  color: #000;
  text-align: center;
  border: #666 1px solid;
}

#modal_content .bound_textarea_controls a.save    { width: 60px; }
#modal_content .bound_textarea_controls a.discard { width: 80px; }
  
#modal_content .note,
#modal_content .error {
  margin: 0;
}

#modal_content .placeholder {
  display: block;
  margin: 0;
  padding: 0 5px 0 0;
  height: 34px;
  
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 19;
}

#modal_content .placeholder span {
  display: block;
  font-size: 20px;
  color: #757575;
}

#modal_content input[type='checkbox'] {
  /*position: absolute;*/
  top: 4px;
  left: 0;
  z-index: 19;
  
  margin: 0;
  padding: 0;
  width: 20px;
}

#modal_content .search_form {
  position: absolute;
  top: 0;
  right: 0;  
}

#modal_content table.data {
  border-collapse: collapse;
}
  
#modal_content table.data th {
  background: #000;
  border: #333 1px solid;  
  color: #efefef;
  margin: 0;
  padding: 0;
}

#modal_content table.data th a {
  display: block;
  text-decoration: none;
  border: none;
  color: #fff;
  padding: 8px 12px;
}

#modal_content table.data th a:hover {
  color: #fff;
  background: #333;
}

#modal_content table.data td {
  background: #111111;
  border: #333 1px solid;
  color: #fff;
  margin: 0;
  padding: 8px 12px;
}

#modal_content table.data tr:nth-child(even) td {
  background-color: #000;
}


#modal_content table.data tr:nth-child(odd) td {
  background-color: transparent;
}

#modal_content table.data tr:hover td,
#modal_content table.data tr:nth-child(even):hover td,
#modal_content table.data tr:nth-child(odd):hover td {
  background: #333;
  color: #fff;
}

/*******************************************************************************
Modeljs
*******************************************************************************/

#modal_content div.model_attribute_text {
    color: #fff;
}

#modal_content .model_attribute {
    background: none repeat scroll 0 0 transparent;
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}

#modal_content .clear {
  clear: both;
  line-height: 0;  
}

/*******************************************************************************
Message boxes
*******************************************************************************/

#modal_content .note {
	padding: 20px;
	background: #fef49c;
	color: #000000;
	font-weight: bold;
	font-size: 1.4em;	
}

#modal_content .note_small {
  display: block;
	padding: 4px 10px;
	background: #fef49c;
	color: #000000;
	font-size: 1em;	
}

#modal_content .error {
	background: #9c171b;
	color: #ffffff;
}

#modal_content .error a {
	color: #fff;	
}

#modal_content .error a:hover {
	color: #000;	
}

#modal_content .success {
	background: #009900;
	color: #ffffff;
}

#modal_content .success a {
	color: #ffffff;	
}

#cboxTopLeft,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomRight,
#cboxMiddleLeft,
#cboxMiddleRight,
#cboxTopCenter,
#cboxBottomCenter,
#cboxClose { background: #111 !important; }

/*******************************************************************************
Page Bar Generator
*******************************************************************************/

.page_links {
  
}

.page_links a {
  display: inline-block;
  margin: 0 2px;
  padding: 5px 8px 3px 8px;
  
  border: #505050 1px solid;
  background: #000;
  color: #505050;
  text-decoration: none;
}

.page_links a:hover {
  background: #505050;
  color: #fff;
}

.page_links .middle_links a {
  
}

.page_links span.current_page {
  display: inline-block;
  padding: 5px 8px 3px 8px;
  
  border: #ccc 1px solid;
  background: #ccc;
  color: #000;
  text-decoration: none;
}

#search_form input[type='text']   { height: 20px; padding: 6px 12px; }
#search_form input[type='submit'] { height: 35px; padding: 0 12px; }
