
.page_links {
  
}

.page_links a {
  display: inline-block;
  margin: 0 2px;
  padding: 5px 8px 3px 8px;
  
  border: #505050 1px solid;
  background: #e1e1e1;
  color: #505050;
  text-decoration: none;
}

.page_links a:hover {
  background: #505050;
  color: #fff;
}

.page_links .middle_links a {
  
}

.page_links span.current_page {
  display: inline-block;
  padding: 5px 8px 3px 8px;
  
  border: #941403 1px solid;
  background: #941403;
  color: #fff;
  text-decoration: none;
}
