
#caboose_white {
  z-index: 99;
}

#caboose_station_wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 210px;
  height: 100%;
  overflow: hidden;
}

#caboose_station {
  width: 208px;
  height: 100%;
  background: #e1e1e1;
  border: #aaa 1px solid;
  font-family: BigNoodleTitling, Tahoma; 
}

#caboose_station .caboose_logo {
  height: 100px;
  background-image: url('/assets/caboose/caboose_nav.png');
  background-position: 64px 0;
  margin: 0;
  padding: 0;
  border-bottom: #aaa 1px solid;
}

#caboose_station h2 {
  display: none;
  height: 40px;
  background-image: url('/assets/caboose/caboose_nav.png');
  background-position: 64px 0;
  margin: 0;
  padding: 80px 0 0 0;
  border-bottom: #aaa 1px solid;
  
  /* Hide the text. */
  /*
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  */
}

#caboose_station h2 span {
  display: block;
  color: #941403;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  background: #e1e1e1;
  height: 40px;
}

#caboose_station ul.account {
  margin: 0;
  padding: 0;
  list-style: none; 
  height: 33px;
}

#caboose_station ul.account li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  border: 0;
  background: #ccc;
}

#caboose_station ul.account li a {
  display: block;
  margin: 0;
  padding: 0;
  height: 33px;
 
  /* Hide the text. */
  /*
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  */
  font-family: BigNoodleTitling, Tahoma;
  font-size: 16px;
  color: #505050;
  background: #aaa;
  text-decoration: none;
  text-align: center;
  border-bottom: #cecece 1px solid;
}
#caboose_station ul.account li a span {
  padding-top: 8px;
}

#caboose_station ul.account li.my_account a { width: 103px; border-right: #828181 1px solid; }
#caboose_station ul.account li.logout     a { width: 103px; border-left:  #cecece 1px solid; }

#caboose_station ul.account li a:hover {
  color: #941403;
}

#caboose_station ul.admin {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station ul.admin li {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station ul.admin li ul {
  margin: 0;
  padding: 0;
  list-style: none;  
}

#caboose_station ul.admin a {
  display: block !important;
  margin: 1px 0 0 0;
  padding: 8px 10px;
  color: #505050;
  text-decoration: none;
}

#caboose_station ul.admin a:hover {
  color: #941403;
}

#caboose_station ul.admin li a.top_level {
  background-image: url('/assets/caboose/caboose_nav.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 208px;
  height: 50px;
  margin: 0;
  padding: 0;
  border-top: #f7f7f7 1px solid;
  border-bottom: #aaa 1px solid;
  position: relative;
  
  /* Hide the text. */
  /*
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  */
  font-family: BigNoodleTitling, Tahoma;
  font-size: 16px;
}

#caboose_station ul.admin li a.top_level span {
  display: block !important;
  margin: 0 0 0 60px;
  padding: 16px 0 0 0;
  height: 34px;
  background: #e1e1e1;
  vertical-align: middle;
  font-family: BigNoodleTitling, Tahoma;
  font-size: 16px;
}
#caboose_station ul.admin li a.top_level:hover  span { color: #941403; }
#caboose_station ul.admin li a.top_level:active span { color: #941403; }

#caboose_station ul.admin li                      a.top_level { background-position: 0px -350px; }
#caboose_station ul.admin li#nav_item_users       a.top_level { background-position: 0px -100px; }
#caboose_station ul.admin li#nav_item_roles       a.top_level { background-position: 0px -150px; }
#caboose_station ul.admin li#nav_item_permissions a.top_level { background-position: 0px -200px; }
#caboose_station ul.admin li#nav_item_pages       a.top_level { background-position: 0px -250px; }
#caboose_station ul.admin li#nav_item_settings    a.top_level { background-position: 0px -300px; }
#caboose_station ul.admin li#nav_item_star        a.top_level { background-position: 0px -350px; }

#caboose_station ul.admin li                      a.top_level:hover { background-position: -250px -350px; }
#caboose_station ul.admin li#nav_item_users       a.top_level:hover { background-position: -250px -100px; }
#caboose_station ul.admin li#nav_item_roles       a.top_level:hover { background-position: -250px -150px; }
#caboose_station ul.admin li#nav_item_permissions a.top_level:hover { background-position: -250px -200px; }
#caboose_station ul.admin li#nav_item_pages       a.top_level:hover { background-position: -250px -250px; }
#caboose_station ul.admin li#nav_item_settings    a.top_level:hover { background-position: -250px -300px; }
#caboose_station ul.admin li#nav_item_star        a.top_level:hover { background-position: -250px -350px; }

#caboose_station ul.admin li                      a.top_level:active { background-position: -500px -350px; }
#caboose_station ul.admin li#nav_item_users       a.top_level:active { background-position: -500px -100px; }
#caboose_station ul.admin li#nav_item_roles       a.top_level:active { background-position: -500px -150px; }
#caboose_station ul.admin li#nav_item_permissions a.top_level:active { background-position: -500px -200px; }
#caboose_station ul.admin li#nav_item_pages       a.top_level:active { background-position: -500px -250px; }
#caboose_station ul.admin li#nav_item_settings    a.top_level:active { background-position: -500px -300px; }
#caboose_station ul.admin li#nav_item_star        a.top_level:active { background-position: -500px -350px; }

#caboose_station_wrapper.state_min a.close,
#caboose_station_wrapper.state_left a.close, 
#caboose_station_wrapper.state_right a.close {
  display: block;
  background-image: url('/assets/caboose/caboose_nav.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 208px;
  height: 50px;  
  font-family: BigNoodleTitling, Tahoma;
  text-decoration: none;
}

#caboose_station_wrapper a.close span {
  display: block;
  margin: 0 0 0 60px;
  padding: 16px 0 0 0;
  height: 34px;
  
  font-family: BigNoodleTitling, Tahoma;
  font-size: 16px;
}
#caboose_station_wrapper a.close        span { background: #e1e1e1; color: #505050; }
#caboose_station_wrapper a.close:hover  span { background: #e1e1e1; color: #941403; }
#caboose_station_wrapper a.close:active span { background: #d2d2d2; color: #941403; }

#caboose_station_wrapper.state_left  a.close        { background-position:    0px -450px; }
#caboose_station_wrapper.state_right a.close        { background-position:    0px -400px; }
#caboose_station_wrapper.state_min   a.close        { background-position:    0px -400px; }
#caboose_station_wrapper.state_left  a.close:hover  { background-position: -250px -450px; }
#caboose_station_wrapper.state_right a.close:hover  { background-position: -250px -400px; }
#caboose_station_wrapper.state_min   a.close:hover  { background-position: -250px -400px; }
#caboose_station_wrapper.state_left  a.close:active { background-position: -500px -450px; }
#caboose_station_wrapper.state_right a.close:active { background-position: -500px -400px; }
#caboose_station_wrapper.state_min   a.close:active { background-position: -500px -400px; }
