<div class="wrapper" class='login-choices'>
  <ul>
    <li>
      <p>Already a member<p>
      <button data-login-action="signin" id='signin_button'>Sign in</button>
    </li>
    
    <li>
      <p>Sign up for all of our member benefits</p>
      <button data-login-action="register" id='register_button'>New Customer</button>
    </li>
    
    <li>
      <p>No thanks</p>
      <button data-login-action="continue" id='continue_button'>Continue As Guest</button>
    </li>
  </ul>
</div>

<section></section>

