<% content_for :caboose_css do %>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<% end %>

<h1>Edit Post</h1>
<div class="left-sidebar">
  <div class="profile">
    <h2>All Aboard, Robby!</h2>
  </div>


<ul id='tabs'>
<%
tabs = {
  "/admin/posts/#{@post.id}/edit"        => 'General',
  "/admin/posts/#{@post.id}/content"     => 'Content',
  "/admin/posts/#{@post.id}/categories"  => 'Categories',  
  "/admin/posts/#{@post.id}/delete"      => 'Delete Post'
}

%>
<% tabs.each do |href,text| %>
<li<%= raw request.fullpath == href ? " class='selected'" : '' %>><a href='<%= href %>'><%= raw text %></a></li>
<% end %>
<li class='back' style="text-align:center;"><input type='button' style="margin-top:10px;" class="caboose-btn-white" value='Back' onclick="window.location='/admin/posts';" /></li>
</ul>
</div>
<div id='content2'>

<style>
#top_nav .options {
  display: block;
}
.footer#caboose {
  padding-left: 200px;
}
</style>
