
<h1>New Post</h1>

<p><input type='text' id='title' name='title' placeholder='Title' style="width: 400px;" /></p>
<div id='message'></div>
<p><input type='submit' value='Add Post' onclick='add_post();' /></p>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<script type='text/javascript'>

var modal = false;
$(document).ready(function() {
  modal = new CabooseModal(420);
});

function add_post()
{
  modal.autosize("<p class='loading'>Adding post...</p>");
  $.ajax({
    url: '/admin/posts',
    type: 'post',
    data: {
      authenticity_token: "<%= form_authenticity_token %>",
      title: $('#title').val(),
    },
    success: function(resp) {
      if (resp.error)
        modal.autosize("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect)
        window.location = resp.redirect
    }
  });
}

</script>
<% end %>
