@import "caboose/admin/config";

footer#admin_main {
  height: $footer-height;
  background: $footer-bg-color; 
  font: $font-main;
  font-size: 15px;
  color: $footer-font-color;
  text-align: center;
  padding: 18px 0;
  overflow: hidden;
  clear: both;
  .nine {
    margin-top: 1.5em;
    text-align: center;
    a {
      display: inline-block;
      &:hover {
        .nine-logo-svg { fill: $color-alt; }
        .nine-logo-svg polygon { stroke: $color-alt; }
      }
    }
    span {
      display: block;
      margin-bottom: 5px;
      font-size: 12px;
    }
    .nine-logo-svg {
      width: 80px;
      height: 40px;
      fill: #fff;
      polygon {
        stroke: #fff;
      }
    }
  }
  nav {
    margin-top: 10px;
    ul {
      padding: 0; 
      margin: 0; 
      list-style-type: none; 
      li {
        display: inline-block;
        margin-right: 8px;
        font-size: 14px; 
        color: #fff; 
        &:last-of-type {
          margin-right: 0; 
        }
        a {
          text-decoration: none;
          color: $footer-font-color;
          font-size: 14px;
          &:hover {
            color: $color-alt;
          }
        }
      }
    }
  }
}