@import "caboose/admin/config";

.conceal {
  @include big {
    display: none !important;
  }
  @include small {
    display: inherit;
  }
}

.reveal {
  @include big {
    display: inherit;
  }
  @include small {
    display: none !important;
  }
}

.reveal-m {
  @include big {
    display: inherit;
  }
  @include small {
    display: none !important;
  }
  @include medium {
    display: none !important;
  }
}