@import "caboose/admin/config";

.subnavigation-block {
  &.Buttons {
    li {
      margin: 0 6px 6px 0;
    }
  }
  ul {
    list-style-type: none;
    li {
      display: block;
      line-height: 1.5em;
      .btn {
        &:hover {
          text-decoration: none;
        }
      }
      a:not(.btn) {
        color: $color-main;
        text-decoration: none;
        &:hover {
          color: $color-alt;
        }
      }
    }
  }
}

.nav-breadcrumbs {
  list-style-type: none;
  li {
    display: inline-block;
    &:last-of-type::after {
      content: "";
      padding: 0;
    }
    &::after {
      content: ">";
      padding: 0 6px 0 10px;
      color: $color-main;
      position: relative;
      bottom: 1px;
    }
    a {
      color: $color-main;
      text-decoration: none;
      &:hover {
        color: $color-alt;
      }
    }
  }
}

.media-category-links-block {
  h3 {
    color: $color-main;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 12px;
  }
  h4 {
    color: $color-main;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 12px;
  }
  ul {
    max-width: 600px;
    margin: 0 auto 30px auto;
    li {
      @include flexbox();
      -webkit-justify-content: space-between;
      justify-content: space-between;
      padding: 8px 2%;
      &:nth-of-type(odd) {
        background-color: #E8E8E8;
      }
      @include mini {
        flex-direction: column;
        align-items: center;
      }
      .name {
        display: block;
        position: relative;
        top: 13px;
        @include flex(1 0 20%);
        @include mini {
          top: 0;
          margin-bottom: 5px;
          text-align: center;
        }
      }
      .btn {
        font-size: 15px;
      }
    }
  }
}

.delay-show {
  display: none;
}
#mmenu {
  text-align: left; 
  font: $font-main;
  color: $sidebar-font-color; 
  background: $sidebar-bg-color;
  a, span {
    font: $font-main; 
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  & > ul {
    & > li {
      & > ul.submenu {
        & > li {
          a, span {
            padding-left: 25px;
            color: $sidebar-font-color;
            color: rgba($sidebar-font-color,0.8);
          }
          & > ul {
            & > li {
              a, span {
                padding-left: 50px;
                color: $sidebar-font-color;
                color: rgba($sidebar-font-color,0.6);
              }
            }
          }
        }
      }
    }
  }
}

.cmn-toggle-switch {
  display: block;
  position: absolute;
  right: 2%;
  top: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 34px;
  height: 35px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 19px;
  left: 0;
  right: 0;
  height: 4px;
  background: $sidebar-icon-color;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $sidebar-icon-color;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -10px;
}

.cmn-toggle-switch span::after {
  bottom: -10px;
}

.cmn-toggle-switch__htx {
  background-color: transparent;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

.mm-opening .cmn-toggle-switch__htx span {
  background: transparent;
}

.mm-opening .cmn-toggle-switch__htx span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mm-opening .cmn-toggle-switch__htx span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mm-opening .cmn-toggle-switch__htx span::before,
.mm-opening .cmn-toggle-switch__htx span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

.mm-menu .mm-navbar > a {
  color: $sidebar-font-color !important;
}

.mm-menu .mm-listview > li .mm-prev:before, .mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-listview > li .mm-arrow:after, .mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after {
  border-color: $sidebar-font-color !important;
}

.mm-menu .mm-listview > li:after, .mm-menu .mm-listview > li .mm-prev:after, .mm-menu .mm-listview > li .mm-next:before, .mm-menu .mm-navbar {
  border-color: $sidebar-border-color !important;
}

.slider-block-container {
  .icon-left-big:hover, .icon-right-big:hover {
    color: $color-main;
  }
}