@import "caboose/admin/config";

.admin_container select {
  background: #fff none repeat scroll 0 0;
  border-color: #2475a5;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: #505050;
  font: 1em "body-font",sans-serif;
  padding: 9px 0px;
}
