<div id='crumbtrail'>
  <a href='/admin'>Admin</a> >
  <a href='/admin/block-types'>Block Types</a>
  New Block Type
</div>

<h1>New Block Type</h1>
<form action='/admin/block-types' method='post' id='new_block_type_form'>
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
<input type='hidden' name='parent_id' value='<%= @parent_id %>' />
<input type='hidden' name='field_type' value='block' />
<p><input type='text' id='name' name='name' placeholder='Name' /></p>
<div id='message'></div>
<p>
<input type='button' value='Back' class="caboose-btn" onclick="window.location='/admin/block-types';" />
<input type='button' value='Add Block Type' class="caboose-btn" onclick="add_block_type();" />
</p>
</form>

<% content_for :caboose_js do %>
<script type='text/javascript'>

function add_block_type()
{
  $('#message').empty().append($('<p/>').addClass('loading').html('Adding block type...'));
  $.ajax({
    url: '/admin/block-types',
    type: 'post',
    data: $('#new_block_type_form').serialize(),          
    success: function(resp) {
      if (resp.error) $('#message').empty().append($('<p/>').addClass('note error').html(resp.error));
      if (resp.redirect) window.location = resp.redirect;
    }
  });
}

</script>
<% end %>
