<div id='crumbtrail'>
  <a href='/admin'>Admin</a> >
  Block Types
</div>

<h1>Block Types</h1>

<p>  
  <a href='/admin/block-types/store'>Block Type Store</a> |
  <a href='/admin/block-types/new'>New Block Type</a>
</p>

<% if (@block_types.count > 0) %>

  <table class='data'>
    <tr>
      <th>Site</th>
      <th>Name</th>
      <th>Description</th>      
    </tr>
  <% @block_types.each do |bt| %>
    <tr onclick="window.location='/admin/block-types/<%= bt.id %>/edit';">
      <td><%= bt.site_id ? (bt.site.description && bt.site.description.strip.length > 0 ? bt.site.description : bt.site.name) : 'Global' %></td> 
      <td><%= bt.name        %></td>
      <td><%= bt.description %></td>    
    </tr>
  <% end %>
  </table>  

<% else %>

  <p>There are no block types.</p>

<% end %>