<div style="padding:60px 2%;text-align:center;background:#fff;">
	<img src="http://cabooseit.s3.amazonaws.com/uploads/error_404.png" width="150" />
	<h1 style="font-size:3em;font-weight:bold;margin-bottom:20px;margin-top:40px;color:#4b4b4b;">Oops!</h1>
	<p style="color:#4b4b4b;font-size:18px;">The page you are looking for could not be found.</p>
</div>