<div id='new_blocks_container1'>
  <p><input type='button' value='New Page Block' onclick='toggle_blocks();' /></p>
</div>
<div id='new_blocks_container2' style='display: none;'>
  <input type='button' value='New Page Block' onclick='toggle_blocks();' />
  <p>Drag a block onto the page.</p>
  <ul id='new_blocks'>
    <% @block_types.each do |block_type| %><li id='new_block_<%= block_type.id %>'><%= block_type.description %></li><% end %>
  </ul>
  <p><a href='#' onclick='toggle_blocks();'>Close</a></p>
</div>
<ul id='blocks'></ul>

