
<% content_for :caboose_css do %>
<!-- stylesheet_link_tag 'jquery.ui.all' -->

<style type='text/css'>
@import url("https://code.jquery.com/ui/jquery-ui-git.css"); 

#tiny_header {
  display: block;  
  color: #fff;
  background-image: url('/assets/caboose/caboose_logo_small.png');
  background-color: #000;  
  background-repeat: no-repeat;
  background-position: right 0;
  padding: 0 50px 0 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;  
}
#tiny_header a {
  display: inline-block;
  color: #fff;
  padding: 16px 10px;  
}
.block_over { background: #e3e3e3; }
.sort_handle   { display: none; }
.delete_handle { display: none; }
.block_over .sort_handle   { display: block; position: relative; }
.block_over .delete_handle { display: block; position: relative; }
.block_over .sort_handle   span { position: absolute; top: 0; right: 18px; width: 18px; height: 18px; background-color: #fff; border: #ccc 1px solid; }
.block_over .delete_handle span { position: absolute; top: 0; right:  0px; width: 18px; height: 18px; background-color: #fff; border: #ccc 1px solid; }

.new_block_link { position: relative; width: 100%; }
.new_block_link .line { position: absolute; top: -11px; width: 100%; height: 2px; background: transparent; }
.new_block_link a { position: absolute; top: -20px; left: 45%; background: transparent; color: transparent; display: block; padding: 4px 8px; }

.new_block_link_over { position: relative; width: 100%; }
.new_block_link_over .line { position: absolute; top: -11px; width: 100%; height: 2px; background: #ccc; }
.new_block_link_over a { position: absolute; top: -22px; left: 45%; color: #fff; background: #666; display: block; padding: 2px 4px; text-decoration: none; font-size: 12px; }

.caboose_note { padding: 10px 20px; background: #990000; color: #fff; font-size: 16px; }

</style>
<% end %>

<% content_for :caboose_js do %>
<!-- javascript_include_tag 'jquery.ui.all' -->
<script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
<%= javascript_include_tag 'caboose/admin_page_edit_content' %>

<script type='text/javascript'>

var controller = false;
$(document).ready(function() {

  var sidebar_div = $.parseHTML("<div id='caboose_page_sidebar_container' class='hide' style='display:none;'><%= render 'admin_sidebar', :page => @page %></div>");
   $("body").append(sidebar_div);

  controller = new PageContentController(<%= @page.id %>);

  $(".caboose-admin-page-list").children("ul").children("li").children("ul").append("<li class='new_page_li'><a href='/admin/pages/new' class='new_page_link'>Add Page</a></li>"); 

  var page = $("body").children(".container"); 

  var caboose_menu = $("#caboose_page_sidebar_container");
  $("body").append(caboose_menu); 

  var header = $("#caboose-admin-header"); 
  var sidebar = $("#caboose-admin-left-sidebar"); 
  var content = $("#caboose-content-wrap");

  sidebar.addClass("delay"); 
  content.addClass("delay");
  page.addClass("delay-left");

  caboose_menu.show();  

  function hideCaboose() {
    
    sidebar.removeClass("shown"); 
    content.removeClass("shown"); 
    page.removeClass("padleftbig"); 
    page.removeClass("padleftsmall"); 

    header.removeClass("shown");  
    page.removeClass("padtop"); 

    setTimeout(
    function() {
      sidebar.addClass("delay"); 
      content.addClass("delay");
      page.addClass("delay-left"); 
      header.removeClass("delay"); 
      page.removeClass("delay-top"); 

      caboose_menu.addClass("hide"); 
      caboose_menu.removeClass("show"); 
    }, 900);
  }

  function showCaboose() {

    header.addClass("shown"); 
    page.addClass("padtop"); 

    $("#show_pages_button").hide(); 

    sidebar.addClass("shown"); 
    content.addClass("shown"); 
    page.addClass("padleftbig");

    setTimeout(
    function() {
      header.addClass("delay"); 
      page.addClass("delay-top"); 
      sidebar.removeClass("delay"); 
      content.removeClass("delay"); 
      page.removeClass("delay-left"); 

      caboose_menu.addClass("show");
      caboose_menu.removeClass("hide"); 
    }, 900);
 
  }

   $("body").append("<a href='#' id='show_caboose_menu'>Caboose</a>"); 

   $("#show_caboose_menu").click(function(event) {
      event.preventDefault(); 
      $(this).hide(); 
      if ( caboose_menu.hasClass("hide") ) { showCaboose(); }
      else { hideCaboose(); }
   });

  $("#close_caboose_menu").click(function(event) {
      event.preventDefault(); 
      $("#show_caboose_menu").show(); 
      if ( caboose_menu.hasClass("hide") ) { showCaboose(); }
      else { hideCaboose(); }
   });

  $("#close_pages_button").click(function(event) {
    content.removeClass("shown");
    page.removeClass("padleftbig"); 
    page.addClass("padleftsmall"); 
    $("#show_pages_button").show(); 
  }); 

  $("#show_pages_button").click(function(event) {
    content.addClass("shown"); 
    page.addClass("padleftbig"); 
    page.removeClass("padleftsmall"); 
    $(this).hide(); 
  }); 

});

</script>
<% end %>

<script>
 
</script>

<% content_for :caboose_css do %>
<style type='text/css'>

body > .container {
  padding-top: 0px !important; 
  padding-left: 0px !important; 
  -webkit-transition: padding-top 500ms ease, padding-left 500ms ease;
  transition: padding-top 500ms ease, padding-left 500ms ease;
  -moz-transition: padding-top 500ms ease, padding-left 500ms ease;
  -o-transition: padding-top 500ms ease, padding-left 500ms ease;
}

body > .container.delay-left {
  -webkit-transition: padding-top 500ms ease, padding-left 500ms ease 400ms;
  transition: padding-top 500ms ease, padding-left 500ms ease 400ms;
  -moz-transition: padding-top 500ms ease, padding-left 500ms ease 400ms;
  -o-transition: padding-top 500ms ease, padding-left 500ms ease 400ms;
}

body > .container.delay-top {
  -webkit-transition: padding-top 500ms ease 400ms, padding-left 500ms ease;
  transition: padding-top 500ms ease 400ms, padding-left 500ms ease;
  -moz-transition: padding-top 500ms ease 400ms, padding-left 500ms ease;
  -o-transition: padding-top 500ms ease 400ms, padding-left 500ms ease;
}

body > .container.padtop {
  z-index: 10; 
  padding-top: 60px !important;
}

body > .container.padleftbig {
  z-index: 10; 
  padding-left: 345px !important;
}

body > .container.padleftsmall {
  z-index: 10;
  padding-left: 165px !important;
}

#show_caboose_menu {
  position: fixed !important;
  top: 0 !important; 
  right: 0 !important; 
  background: black !important;
  color: white !important;
  padding: 20px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  z-index: 200000 !important;
}

#caboose_page_sidebar_container {
/*  position: fixed !important;*/
  font-size: 16px !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important; 
  left: 0 !important; 
  z-index: 1; 
}
#caboose_page_sidebar_container #caboose-admin-left-sidebar {
  float: left !important;
  width: 165px !important;
  padding: 0 !important; 
  overflow-y: scroll !important;
  margin-left: -30px !important;
  position: fixed !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  left: -195px !important; 
  top: 60px !important;
  height: 100% !important; 
  background: #222326 !important;
  min-height: 540px !important;
  z-index: 1050 !important;
  -webkit-transition: left 500ms ease;
  transition: left 500ms ease;
  -moz-transition: left 500ms ease;
  -o-transition: left 500ms ease;
}
#caboose_page_sidebar_container #caboose-admin-left-sidebar.delay {
  -webkit-transition: left 500ms ease 400ms;
  transition: left 500ms ease 400ms;
  -moz-transition: left 500ms ease 400ms;
  -o-transition: left 500ms ease 400ms;
}

#caboose_page_sidebar_container #caboose-admin-left-sidebar.shown {
  left: 30px !important;
}

#caboose_page_sidebar_container #caboose-admin-left-sidebar .caboose-sidebar-profile {
  background: #141516 !important;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}

#caboose_page_sidebar_container #caboose-admin-left-sidebar .caboose-sidebar-profile h2 {
  margin: 0 !important; 
  text-align: center !important; 
  color: #f7f7f7 !important;
  font-weight: 100 !important; 
  font-family: "Avenir" !important;
  padding: 20px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  font-size: 14px !important;
}

#caboose_page_sidebar_container #caboose-admin-left-sidebar .caboose-sidebar-nine {
  background: #141516 !important;
  text-align: center !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  padding: 7px 0 3px !important;
  position: absolute !important;
  bottom: 60px !important;
  width: 100% !important;
}

#caboose_page_sidebar_container #caboose-admin-left-sidebar .caboose-sidebar-nine span {
  color: white !important;
  font-size: 12px !important;
  display: block !important;
  margin-bottom: 6px !important;
}

#caboose_page_sidebar_container #caboose-admin-left-sidebar .caboose-sidebar-nine img {
  width: 69px !important;
}
#caboose_page_sidebar_container #caboose-content-wrap {
  position: fixed !important;
  top: 60px !important;
  left: -225px !important;
  height: 100% !important; 
  overflow-y: scroll !important;
  -webkit-transition: left 500ms ease;
  transition: left 500ms ease;
  -moz-transition: left 500ms ease;
  -o-transition: left 500ms ease;
}
#caboose_page_sidebar_container #caboose-content-wrap.delay {
  -webkit-transition: left 500ms ease 400ms;
  transition: left 500ms ease 400ms;
  -moz-transition: left 500ms ease 400ms;
  -o-transition: left 500ms ease 400ms;
}
#caboose_page_sidebar_container #caboose-content-wrap.shown {
  left: 165px !important;
}
#caboose_page_sidebar_container .caboose-admin-page-list {
  width: 170px !important;
  border-right: 1px solid #d5d5d5 !important;
  height: 100% !important; 
  background: #f7f7f7 !important;
  padding: 0 5px !important;
  margin-bottom: 200px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul {
  margin: 0 !important;
  padding: 0 !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  list-style: none !important; 
  position: relative !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list > ul > li:first-of-type:before {
  display: none !important; 
}

#caboose_page_sidebar_container .caboose-admin-page-list > ul> li> ul:first-of-type {
  margin-left: 0 !important; 
  border-left: 0 !important; 
}

#caboose_page_sidebar_container .caboose-admin-page-list > ul> li> ul:first-of-type > li:before {
  display: none !important; 
}

#caboose_page_sidebar_container .caboose-admin-page-list > ul > li:first-of-type > a:before {
  background-image: url("/assets/caboose/home_icon.png") !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li.new_page_li > a:before {
  background-image: url("/assets/caboose/new_icon.png") !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li.new_page_li:before {
  border-top: 1px dotted rgb(191, 191, 191) !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li {
  position: relative !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li a {
  color: #4a4e57 !important;
  font-size: 13px !important;
  text-decoration: none !important;
  padding: 7px 6px 9px 10px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  display: block !important;
  height: 100% !important; 
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li a:before {
  content: "" !important;
  display: inline-block !important;
  width: 15px !important;
  height: 15px !important;
  background-image: url("/assets/caboose/page_icon.png") !important;
  background-size: 15px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important; 
  position: relative !important;
  top: 3px !important;
  right: 5px !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li:before {
  content: "" !important;
  display: inline-block !important;
  position: absolute !important;
  top: 18px !important;
  width: 8px !important;
  height: 1px !important;
  background: none !important;
  border-top: 1px solid rgb(191, 191, 191) !important;
}


#caboose_page_sidebar_container .caboose-admin-page-list ul li ul {
  margin-left: 12px !important;
  border-left: 1px solid rgb(191, 191, 191) !important;
} 

#caboose_page_sidebar_container .caboose-admin-page-list ul li ul li a {
  padding: 7px 6px 9px 10px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
} 


#caboose_page_sidebar_container .caboose-admin-page-list ul li ul li ul {
  margin-left: 12px !important;
  border-left: 1px solid rgb(191, 191, 191) !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li ul li ul li a {
  padding: 7px 6px 9px 10px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

#caboose_page_sidebar_container .caboose-admin-page-list ul li a:hover {
  background: #e3e3e3 !important;
}

#caboose_page_sidebar_container .caboose-btn-white {
  background: #e3e3e3 !important; 
  border: 1px solid #fff !important;
  color: #141516 !important;
  text-align: center !important; 
  font-weight: 100 !important; 
  padding: 5px 15px !important;
  height: auto !important;
  display: inline-block !important;
  margin: 0 auto !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  font-size: 14px !important;
  cursor: pointer !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important; 
  text-decoration: none !important;
}
#caboose_page_sidebar_container .caboose-btn-white:hover {
  background: #ccc !important;
}
#caboose_page_sidebar_container #show_pages_button {
  padding-top: 15px !important;
  display: block;
  text-align: center !important;
  width: 100% !important; 
  color: #fff !important;
  text-decoration: none !important; 
  font-size: 13px !important;
  opacity: 0.6 !important;
}
#caboose_page_sidebar_container #show_pages_button:hover {
  opacity: 1 !important;
}
#caboose_page_sidebar_container #close_pages_button {
  padding-top: 15px !important;
  display: block;
  text-align: left !important;
  width: 100% !important; 
  color: #4a4e57 !important;
  text-decoration: none !important; 
  font-size: 13px !important;
  padding-left: 5px !important;
}
#caboose_page_sidebar_container #close_pages_button:hover {
  text-decoration: underline !important; 
}

#caboose_page_sidebar_container .caboose-btn {
  background: #141516 !important; 
  color: #f7f7f7 !important;
  text-align: center !important; 
  font-weight: 100 !important; 
  padding: 5px 15px !important;
  height: auto !important;
  display: inline-block !important;
  margin: 0 auto !important;
  font-size: 14px !important;
  cursor: pointer !important;
  border: 1px solid #fff !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important; 
  text-decoration: none !important;
}

#caboose_page_sidebar_container .caboose-btn:hover {
  background: #4f4448 !important;
}

#caboose_page_sidebar_container #caboose-sidebar-tabs { 
  margin: 0 !important; 
  padding: 0 !important; 
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  list-style: none !important; 
}
#caboose_page_sidebar_container #caboose-sidebar-tabs ul li { 
  list-style: none !important; 
  margin: 0 !important; 
  padding: 0 !important; 
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
#caboose_page_sidebar_container #caboose-sidebar-tabs .caboose-tab-icon {
  width: 18px !important;
  height: 20px !important;
  margin: 0 auto !important; 
  background-size: 100% !important; 
  background-repeat: no-repeat !important;
  background-position: center center !important;
  opacity: 0.5 !important;
}

#caboose_page_sidebar_container #caboose-sidebar-tabs a:hover .caboose-tab-icon {
  opacity: 1.0 !important;
}

#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-pages { background-image: url("/assets/caboose/sidebar_pages.png") !important; }
#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-write { background-image: url("/assets/caboose/sidebar_posts.png") !important; }
#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-design { background-image: url("/assets/caboose/sidebar_design.png") !important; }
#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-media { background-image: url("/assets/caboose/sidebar_media.png") !important; }
#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-activity { background-image: url("/assets/caboose/sidebar_activity.png") !important; }
#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-seo { background-image: url("/assets/caboose/sidebar_seo.png") !important; }
#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-store { background-image: url("/assets/caboose/sidebar_store.png") !important; }
#caboose_page_sidebar_container .caboose-tab-icon#caboose-icon-settings { background-image: url("/assets/caboose/sidebar_settings.png") !important; }

#caboose_page_sidebar_container #caboose-sidebar-tabs li.caboose-back-btn {
  padding: 10px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
#caboose_page_sidebar_container #caboose-sidebar-tabs a {
  display: block !important;
  margin: 0 !important;
  padding: 5px 12px 1px 12px !important;
  text-decoration: none !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  background: #2B2C30 !important;
  color: #676768 !important;
  font-weight: 100 !important; 
  font-size: 14px !important;
  font-family: "Avenir" !important;
  text-align: center !important; 
}
#caboose_page_sidebar_container #caboose-sidebar-tabs li a:hover {
  color: #f7f7f7 !important; 
}
#caboose_page_sidebar_container #caboose-sidebar-tabs li.caboose-li-selected a {
  color: #f7f7f7 !important;
}

#caboose_page_sidebar_container #caboose-admin-header {
  background: #222326 !important;
  height: 60px;
  position: fixed !important;
  width: 100% !important; 
  top: -60px !important; 
  left: 0 !important; 
  z-index: 2000 !important; 
  min-width: 600px !important;
  -webkit-transition: top 500ms ease;
  transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -o-transition: top 500ms ease;
}

#caboose_page_sidebar_container #caboose-admin-header.delay {
  -webkit-transition: top 500ms ease 400ms;
  transition: top 500ms ease 400ms;
  -moz-transition: top 500ms ease 400ms;
  -o-transition: top 500ms ease 400ms;
}

#caboose_page_sidebar_container #caboose-admin-header.shown { 
  top: 0 !important;
}

#caboose_page_sidebar_container #caboose-admin-header .caboose-nav-options {
  float: right !important;
  z-index: 90 !important;
  position: relative !important;
  right: 30px !important;
  bottom: 43px !important;
}

#caboose_page_sidebar_container #caboose-admin-header .caboose-nav-options .caboose-nav-buttons {
  overflow: auto !important;
}

#caboose_page_sidebar_container #caboose-admin-header .caboose-nav-options .caboose-nav-buttons .caboose-nav-unit {
  float: left !important;
  display: inline-block !important;
  text-align: center !important; 
  padding: 10px 10px 0 10px !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

#caboose_page_sidebar_container #caboose-admin-header .caboose-nav-options .caboose-nav-buttons .caboose-nav-unit a {
  text-decoration: none !important; 
  display: block !important;
  height: 50px !important;
}

#caboose_page_sidebar_container #caboose-admin-header .caboose-nav-options .caboose-nav-buttons .caboose-nav-unit a:hover {
  text-decoration: underline !important; 
  color: #797979 !important;
}

#caboose_page_sidebar_container #caboose-admin-header .caboose-nav-options .caboose-nav-buttons .caboose-nav-unit img {
  width: 25px !important;
  height: 25px !important;
  text-decoration: none !important;
}
#caboose_page_sidebar_container #caboose-admin-header .caboose-nav-options .caboose-nav-buttons .caboose-nav-unit p {
  margin: 0 !important;
  font-size: 11px !important;
  line-height: 14px !important;
  color: #797979 !important;
  text-decoration: none !important; 
}

#caboose_page_sidebar_container #caboose-admin-header ul {
  margin: 0 !important;
  padding-left: 85px !important;
  padding-top: 18px !important;
  list-style: none !important;
  text-align: center !important;
}

#caboose_page_sidebar_container #caboose-admin-header ul li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  display: inline-block !important;
}

#caboose_page_sidebar_container #caboose-admin-header .caboose-logo {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 60px !important;
  background-color: #141516 !important;
  width: 165px !important;
  background-image: url('/assets/caboose/caboose_logo.png') !important;
  background-size: 30px;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

@media screen and (max-height: 540px) {
  #caboose_page_sidebar_container #caboose-admin-left-sidebar {
    height: 600px !important;
    overflow: scroll !important;
    position: absolute !important;
  }
  #caboose_page_sidebar_container #caboose-content-wrap {
    height: 600px !important;
    overflow: scroll !important;
    position: absolute !important;
  }
  #caboose_page_sidebar_container #caboose-admin-left-sidebar .caboose-sidebar-nine {
    bottom: 0 !important; 
  }
}






</style>
<% end %>
