<h1>Pages</h1>

<% if @domain %>
  <div id="page-list">
  	<div class="clearfix top">
  		<% if @user.is_allowed('pages','add') %>
			  <p><a href='/admin/pages/new' class="caboose-btn-white">New Page</a></p>
			<% end %>
			<input type="text" id="pages-filter" placeholder="Filter" />
  	</div>
  	<%= raw pages_list(@home_page) %>
  	<p id="no-results"></p>
  </div>
<% else %>
  <p>It doesn't look like this site is configured for the current domain.  Please <a href='/admin/sites'>configure your sites</a>.</p>
<% end %>

<% content_for :caboose_css do %>
<%= stylesheet_link_tag 'caboose/admin_menu_icons' %>
<% end %>

<% content_for :caboose_js do %>
<script>
	jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function(arg) {
    return function( elem ) {
    	return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
    };
	});
	function filter_pages() {
		var results = 0;
		var q = $("#pages-filter").val().toUpperCase();
		if ( !q || q == '' || q == 'FILTER' ) {
			$("#page-list li").removeClass('small').addClass('shown').removeClass('hidden');
			$("#no-results").text('');
		}
		else {
			$("#page-list li").addClass('hidden').removeClass('small').removeClass('shown');
			$("#no-results").text('');
			$.each($(".content:Contains(" + q + ")"), function(k,v) {
				$(v).closest('li').addClass('shown').removeClass('hidden');
				$.each($(v).parents("li"), function(a,b) {
					var t1 = $(b).children(".content").text().toUpperCase();
					if ( $(b).children(".content").text().toUpperCase().indexOf(q) < 0 )
						$(b).addClass('small');
					$(b).addClass('shown').removeClass('hidden');
				});
				$(v).closest("li").removeClass('small');
				results += 1;
			});
			if ( results == 0 )
				$("#no-results").text("Sorry, no matching pages were found.");
		}
	}
	$("#pages-filter").keyup(function() {
		filter_pages();
	});
	$(window).load(function() {
		filter_pages();
	});
	$("a.pub").click(function(e) {
		e.preventDefault();
		var anc = $(this);
		var page_id = anc.data('page');
		var action = anc.hasClass('icon3-hidden') ? 'show' : 'hide';
		$.ajax({
	    url: '/admin/pages/' + page_id + '/' + action,
	    type: 'put',
	    success: function(resp) {
	    	if (resp && resp.success) {
		    	if ( action == 'show' )
		    		anc.removeClass('icon3-hidden').addClass('icon3-visible').attr('title','Hide Page');
		    	if ( action == 'hide' )
		    		anc.removeClass('icon3-visible').addClass('icon3-hidden').attr('title','Show Page');
		    }
	    }
	  });
	});
</script>
<% end %>