<h1>Pages</h1>

<% if @domain %>
  <p><a href='/admin/pages/new' class="caboose-btn-white">New Page</a></p>
  <%= raw pages_list(@home_page) %>
<% else %>
  <p>It doesn't look like this site is configured for the current domain.  Please <a href='/admin/sites'>configure your sites</a>.</p>
<% end %>  
