
<form action='/login/forgot-password' method='post' id='forgot_form'>
  <h1>Forgot Password</h1>
  <div id='content3'>    
    <p>Enter your username or email address and we'll send you a link that lets you reset your password.</p>
    <input type='hidden'    name='return_url' value='<%= @return_url %>' />
    <input type='text'      name='username' id='username' placeholder='Login or email' />
    <div id='message'></div>
    <p>
      <input type='button' id='btn_cancel' value='Cancel' onclick="parent.$.fn.colorbox.close();" />
    	<input type='submit' id='btn_login'  value='Help Me Remember' onclick='send_forgot_password_link(); return false;' />
    </p>
  </div>
</form>

<% content_for :caboose_css do %>
<style type="text/css">
#modal_content input[type="checkbox"] { position: relative; }
</style>
<% end %>
<% content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(400);
});

function send_forgot_password_link()
{
  modal.autosize("<p class='loading'>Retrieving info...</p>");
	$.ajax({
		url: '/login/forgot-password',
		type: 'post',
		data: $('#forgot_form').serialize(),
		success: function(resp) {
		  if (resp.error) modal.autosize("<p class='note error'>" + resp.error + "</p>");
		  if (resp.success)
		  {
		    //modal.autosize("<p class='note success'>" + resp.success + "</p>");		    
		    var div = $('<div/>')
		      .append($('<p/>').addClass('note success').html(resp.success))
		      .append($('<p/>').append($('<input/>').attr('type', 'button').val('Close').click(function() { modal.close(); })));
		    $('#content3').empty().append(div);
		    modal.autosize();
		  }		    
			//if (resp.redirect != false) <%= @modal ? "" : "parent." %>window.location = resp.redirect;
			//else parent.location.reload(true);
		},
		error: function() {	
			modal.autosize("<p class='note error'>Error</p>");			
		}
	});
}
</script>
<% end %>
<%= content_for :caboose_css do %>
<%= stylesheet_link_tag "caboose/login", :media => "all" %>
<% end %>
