<div class="caboose-login-wrapper">
  <div class="caboose-login-form-wrapper">
    <h5>Forgot Password</h5>
    <p>Enter your username or email address and we'll send you a link that lets you reset your password.</p>
    <form action="/login/forgot-password" method="POST" id="caboose-login-form">
      <div class="field">
        <label for="caboose-login-username">Username or Email Address</label>
        <input type="text" name="username" id="caboose-login-username" />
      </div>
      <input type="hidden" name="return_url" value="<%= @return_url %>" />
      <div class="caboose-links">
        <% if @site.allow_self_registration %>
          <a href="/register?return_url=<%= @return_url %>">Create an account</a>
        <% end %>
        <a href="/login?return_url=<%= @return_url %>" class="caboose-forgot-password">Back to login</a>
      </div>
      <input type="submit" class="btn" id="caboose-login-btn" value="Reset Password" onclick="caboose_user_forgot();return false;" />
    </form>
    <div id="caboose-login-message"></div>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'caboose/login' %>
<% end %>

<% content_for :js do %>
<script type="text/javascript">
function caboose_user_forgot() 
{
  $('#caboose-login-message').html("<p class='note loading'>Retrieving your account...</p>");
  $.ajax({
    url: '/login/forgot-password',
    type: 'post',
    data: $('#caboose-login-form').serialize(),
    success: function(resp) {
      if (resp.error) $('#caboose-login-message').html("<p class='note error'>" + resp.error + "</p>");
      else if (resp.success) {
        $('#caboose-login-form').slideUp();
        $('#caboose-login-message').html("<p class='note success'>" + resp.success + "</p>");
      }
    }   
  });
}
</script>
<% end %>