<div class="caboose-login-wrapper">
  <div class="caboose-login-form-wrapper">
    <h5>User Login</h5>
    <form action="/login" method="POST" id="caboose-login-form">
      <div class="field">
        <label for="caboose-login-username">Username or Email Address</label>
        <input type="text" name="username" id="caboose-login-username" />
      </div>
      <div class="field">
        <label for="caboose-login-password">Password</label>
        <input type="password" name="password" id="caboose-login-password" />
      </div>
      <input type="hidden" name="return_url" value="<%= @return_url %>" />
      <div class="caboose-links">
        <% if @site.allow_self_registration %>
          <a href="/register?return_url=<%= @return_url %>">Create an account</a>
        <% end %>
        <a href="/login/forgot-password?return_url=<%= @return_url %>">Forgot your password?</a>
      </div>
      <input type="submit" class="btn" id="caboose-login-btn" value="Login" onclick="caboose_user_login();return false;" />
    </form>
    <div id="caboose-login-message"></div>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'caboose/login' %>
<% end %>

<% content_for :js do %>
<script type="text/javascript">
function caboose_user_login() 
{
  $('#caboose-login-message').html("<p class='note loading'>Logging in...</p>");
  $.ajax({
    url: '/login',
    type: 'post',
    data: $('#caboose-login-form').serialize(),
    success: function(resp) {
      if (resp.error) $('#caboose-login-message').html("<p class='note error'>" + resp.error + "</p>");     
      else if (resp.redirect != false) window.location = resp.redirect;
      else window.location.reload(true);
    }   
  });
}
</script>
<% end %>