<h1>Reset Password</h1>

<% if @user.nil? %>
  <p class='note error'>The given reset ID is invalid.</p>
  <p class='buttons'><input type='button' value='Close' onclick="parent.window.location='/';" /></p>
<% else %>
  <form action='/login/reset-password' method='post' id='reset_password_form'>
  <input type='hidden' name='id' id='id' value='<%= @reset_id %>' />		
  <table cellpadding='4' cellspacing='0' border='0'>
  <tr><td>New Password:	</td><td><input type='password' name='pass1' id='pass1' style='width: 250px;' /></td></tr>
  <tr><td>Confirm:		  </td><td><input type='password' name='pass2' id='pass2' style='width: 250px;' /></td></tr>
  </table><br />
  <div id='message'></div>
  <p class='buttons'>
  <input type='submit' value='Reset Password' onclick='reset_password(); return false;' />
  <input type='button' value='Cancel' 			  onclick="window.location='/';" />
  </p>
  </form>
<% end %>

<%= content_for :caboose_js do %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
  modal = new CabooseModal(400);
});

<% if !@user.nil? %>
function reset_password()
{
  $.ajax({
    url: '/login/reset-password',
    type: 'post',
    data: $('#reset_password_form').serialize(),
    success: function(resp) {
      if (resp.error) modal.autosize("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;    
    }
  });
}
<% end %>

</script>
<% end %>

