<div class="caboose-login-wrapper">
  <div class="caboose-login-form-wrapper">
    <% if @user.nil? %>
      <p class='note error'>The given reset ID is invalid.</p>
    <% else %>
      <h5>Reset Password</h5>
      <p>Please enter a new password for your account.</p>
      <form action="/login/reset-password" method="POST" id="caboose-reset-form">
        <input type='hidden' name='id' id='id' value='<%= @reset_id %>' />
        <div class="field">
          <label for="caboose-register-password1">Password</label>
          <input type="password" name="pass1" id="caboose-register-password1" />
        </div>
        <div class="field">
          <label for="caboose-register-password2">Confirm Password</label>
          <input type="password" name="pass2" id="caboose-register-password2" />
        </div>
        <input type="submit" class="btn" id="caboose-login-btn" value="Reset Password" onclick="caboose_user_reset();return false;" />
      </form>
      <div id="caboose-login-message"></div>
    <% end %>
  </div>
</div>

<% content_for :css do %>
  <%= stylesheet_link_tag 'caboose/login' %>
<% end %>

<% content_for :js do %>
<script type="text/javascript">
function caboose_user_reset() 
{
  $('#caboose-login-message').html("<p class='note loading'>Resetting your password...</p>");
  $.ajax({
    url: '/login/reset-password',
    type: 'post',
    data: $('#caboose-reset-form').serialize(),
    success: function(resp) {
      if (resp.error) $('#caboose-login-message').html("<p class='note error'>" + resp.error + "</p>");
      else if (resp.redirect)
        window.location = resp.redirect;
    }   
  });
}
</script>
<% end %>