<h1>New Manual Order</h1>

<p>This will create a new order that you can populate and then send to the customer for payment.</p>

<p>
<input type='button' value='< Back' onclick="window.location='/admin/orders';" />
<input type='button' value='Create Order' onclick='create_order();' />
</p>

<% content_for :caboose_js do %>
<script type='text/javascript'>

function create_order()
{
  $('#message').empty().append("<p class='loading'>Creating order...</p>");  
  $.ajax({
    url: '/admin/orders',
    type: 'post',    
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;      
    }
  });
}

</script>
<% end %>