<%
# https://github.com/blueimp/jQuery-File-Upload/wiki/Upload-directly-to-S3
%>
<h1>Upload Images</h1>

<form action='/admin/images/sign-s3' method='post' id='new_image_form' enctype='multipart/form-data'>
  <input type='hidden' name='key'                     value='' />
  <input type='hidden' name='AWSAccessKeyId'          value='' />
  <input type='hidden' name='acl'                     value='' />
  <input type='hidden' name='success_action_status'   value='' />
  <!--<input type='hidden' name='success_action_redirect' value='' />-->
  <input type='hidden' name='policy'                  value='' />
  <input type='hidden' name='signature'               value='' />
  <input type="file" name="file" id="file" multiple='true' />    
  <div id='progress'><div id='bar'></div></div>  
</form>

<% content_for :caboose_css do %>
<style type='text/css'>
.progress { max-width: 600px; margin: 0.2em 0 0.2em 0; }
.progress .bar { height:  1.2em; padding: 0.2em; color: white; display: none; }
</style>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'jquery.ui.widget' %>
<%= javascript_include_tag 'caboose/jquery.iframe-transport.js' %>
<%= javascript_include_tag 'caboose/jquery.fileupload.js' %>
<script type='text/javascript'>

$(document).ready(function() {  
  $('#file').fileupload({
    //forceIframeTransport: true,    
    autoUpload: true,        
    //replaceFileInput: true,
    //singleFileUploads: false,        
    add: function(e, data) {            
      $.ajax({
        url: '/admin/images/s3',
        type: 'get',
        data: {
          name: data.files[0].name,
          media_category_id: <%= @media_category_id %>
        },
        async: false,
        success: function(resp) {          
          var form = $('#new_image_form');          
          for (var i in resp.fields)            
            form.find("input[name=" + i + "]").val(resp.fields[i]);
          form.attr('action', resp.url);
        }
      });            
      data.submit();
    },                
    progressall: function (e, data) {
      $('#bar').css('width', parseInt(data.loaded / data.total * 100, 10) + '%') 
    },
    start: function (e) {
      $('#file').hide();
      $('#bar').css('background', 'green').css('display', 'block').css('width', '0%').text("Uploading..."); 
    },
    done: function(e, data) {
      console.log("Upload done.");
      console.log(data);      
      $('#bar').text("Uploading done");
      setTimeout(function() { 
        $('#file').val('').show(); 
        $('#bar').css('background', 'transparent').empty();        
      }, 2000);                  
    },
    fail: function(e, data) {
      console.log("Upload failed.");
      console.log(data);      
      $('#bar').css("background", "red").text("Failed"); 
    }
  });
});

</script>
<% end %>
