
<h1>Upload Images</h1>

<form action='https://cabooseit.s3.amazonaws.com' method='post' id='new_image_form' enctype='multipart/form-data'>    
  <input type="file" name="new_image" id="new_image" />  
  <div class='#progress'><div class='#bar'></div></div>  
<form>

<% content_for :caboose_css do %>
<style type='text/css'>
.progress { max-width: 600px; margin: 0.2em 0 0.2em 0; }
.progress .bar { height:  1.2em; padding: 0.2em; color: white; display: none; }
</style>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag 'jquery.ui.all' %>
<%= javascript_include_tag 'caboose/jquery.iframe-transport.js' %>
<%= javascript_include_tag 'caboose/jquery.fileupload.js' %>
<script type='text/javascript'>

$(document).ready(function() {
  $('#new_image').fileupload({
    forceIframeTransport: true,
    autoUpload: true,
    
    //fileInput: $('#new_image'),
    //url: pp.url,
    type: 'POST',    
    //formData: pp.fields,
    //paramName: 'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
    //dataType: 'XML',  // S3 returns XML if success_action_status is set to 201
    replaceFileInput: false,
    
    add: function(e, data) {
      $.ajax({
        url: '/admin/images/sign-s3',
        type: 'get',
        data: {
          name: document.getElementById('new_image').value,
          media_category_id: <%= @media_category_id %>
        },
        async: false,
        success: function(resp) {
          pp = resp.presigned_post;    
          var form = $('#new_image_form');
          for (var i in pp.fields)
            form.append($('<input/>').attr('type', 'hidden').attr('name', i).val(pp.fields[i]));
          //form.attr('action', pp.url);
        }
      });
      data.submit();
    },                
    progressall: function (e, data) { $('#bar').css('width', parseInt(data.loaded / data.total * 100, 10) + '%') },
    start: function (e) { $('#bar').css('background', 'green').css('display', 'block').css('width', '0%').text("Loading..."); },
    done: function(e, data) { $('#bar').text("Uploading done"); },
    fail: function(e, data) { $('#bar').css("background", "red").text("Failed"); }
  });  
});

</script>
<% end %>
