<h1>Roles</h1>

<table class='data'>
  <tr>
    <th>Name</th>
  </tr>
<% @roles.each do |r| %> 
  <tr onclick="window.location='/admin/roles/<%= r['value'] %>/edit';">
    <td><%= r['text'] %></td>
  </tr>
<% end %>
</table>

<br />

