
<h1>New role</h1>
<div id='role_new_container'></div>

<% content_for :caboose_js do %>
<script type='text/javascript'>

var role = false;
$(document).ready(function() {

  role = new Model({
    name: 'Role',
    id: 'new',
    listing_url: 'get /admin/roles',
    create_url: 'post /admin/roles',
    attributes: [
      {
        name: 'parent_id',
        type: 'select',
        value: -1,
        text: "[No Parent]",
        options_url: '/admin/roles/options' 
      },
      { 
        name: 'name', 
        type: 'text',
        value: '' 
      }
    ]
  });
  
});

</script>
<% end %>
