
<% content_for :caboose_css do %>
<style type='text/css'>
#gravatar {
  float: right;
  width: 150px;
  text-align: right;
  margin: 0 4px 0 0;
  padding: 0;
}
#gravatar img {
  border: #fff 2px solid;
}
#content input[type=checkbox] { position: relative; }
#members { height: 200px; overflow-y: scroll; margin-bottom: 20px; }
</style>
<% end %>

<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<% end %>

<h1 id='page_title'>Edit Site</h1>
<ul id='tabs'>
<%
tabs = {
  'General'           => "/admin/sites/#{@site.id}",  
  'Contact Info'      => "/admin/sites/#{@site.id}/contact",  
  'Block Types'       => "/admin/sites/#{@site.id}/block-types",
  'Custom CSS'        => "/admin/sites/#{@site.id}/css",
  'Custom JS'         => "/admin/sites/#{@site.id}/js",
  'Embedded HTML'     => "/admin/sites/#{@site.id}/codes",
  'Delete Site'       => "/admin/sites/#{@site.id}/delete" 
}

%>
<% tabs.each do |text, href| %>
<li<%= raw request.fullpath == href ? " class='selected'" : '' %>><a href='<%= href %>'><%= raw text %></a></li>
<% end %>
<% if @site.is_master %>
<li class="back"><input type="button" onclick="window.location='/admin/sites';" value="< Back" />
<% else %>
<li class="back"><input type="button" onclick="window.location='/admin';" value="< Back" />
<% end %>
</ul>
<div id='content2'>
