
<h1>New Site</h1>

<form action='/admin/sites' method='post' id='new_site_form'>
<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' /> 
<p><input type='text' name='name' id='name' placeholder='Name' value='' style='width: 400px;' /></p>
<div id='message'></div>
<p><input type='submit' value='Add Site' /></p>
</form>

<% content_for :caboose_js do %>
<script type='text/javascript'>

$(document).ready(function() {
  $('#new_site_form').submit(function() { add_site(); return false; });
});

function add_site()
{
  $('#message').html("<p class='loading'>Adding site...</p>");
  $.ajax({
    url: '/admin/sites',
    type: 'post',
    data: $('#new_site_form').serialize(),
    success: function(resp) {
      if (resp.error) $('#message').html("<p class='note error'>" + resp.error + "</p>");
      if (resp.redirect) window.location = resp.redirect;    
    }
  });
}

</script>
<% end %>
