<header id='admin_header'>
  <div id='admin_logo_link'><a href='/' title='Admin Home'><span>Admin Home</span></a></div>
	<div id='crumbtrail'></div>
	<!--
  <div id='admin_top_nav'>
    <ul>
      <li class='my_account' ><a href='/my-account'><span class='icon'></span><span class='text'>My Account</span></a></li>
      <li class='help'       ><a href='/admin/help'><span class='icon'></span><span class='text'>Help</span></a></li>
    </ul>
  </div>
  -->
</header>
