<% if @user && @user.site %>
<%
site = @user.site
pd = site.primary_domain
url = "#{pd.domain}/login/reset-password/#{@user.password_reset_id}"
%>
<p>To reset your password for <%= site.description %>, click the link below:</p>
<p><a href='<%= url %>'><%= url %></p>
<% end %>