<% if @user %>
<%
url = "#{Caboose::website_domain}/modal/login/reset-password/#{@user.password_reset_id}"
%>
<p>To reset your <%= Caboose::website_name %> website password, click the link below:</p>
<p><a href='<%= url %>'><%= url %></p>
<% end %>

