
#revision_history {
  position: absolute;
  top: 48px;
  right: 10px;
  z-index: 1000;
  width: 300px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 6px 6px 6px 6px;
  border-color: #EDEEF0;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  background: #3893e5;
  color: #fff;
  text-align: center;
  p {
    padding: 10px;
  }
    
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      
      a {        
        display: block;
        margin: 0;
        padding: 0 30px 0 0;
        width: 285px;
        background: #3893E5;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        border-top: #2d76b7 1px solid;;
                          
        span {
          display: inline-block;
          margin: 0;
          padding: 8px 8px;
          text-align: center;
          
          &.user { width: 50%; }
          &.date { width: 25%; }
          &.time { width: 25%; }
        }                                                                                                                                                                                    
      }
      &:first-child a { border-top: 0; }
      &.like a    { background-image: url('/assets/caboose/admin/like_thumb.png'); background-position: 4px 3px; }
      &.current a { background: #2d76b7; }
    }
  }  
}
