<% content_for :caboose_css do %>
<% end %>
<% content_for :caboose_js do %>
<%= javascript_include_tag "caboose/model/all" %>
<% end %>

<h1>Edit Advertiser</h1>
<ul id='tabs'>
<%
tabs = {                             
  'General'            => "/admin/advertisers/#{@advertiser.id}",
  'Authorize.net Info' => "/admin/advertisers/#{@advertiser.id}/authnet",
  'Users'              => "/admin/advertisers/#{@advertiser.id}/users",
  'Campaigns'          => "/admin/advertisers/#{@advertiser.id}/campaigns",  
  'Invoices'           => "/admin/advertisers/#{@advertiser.id}/invoices",
  'Delete'             => "/admin/advertisers/#{@advertiser.id}/delete"  
}
%>
<% tabs.each do |text, href| %>
<% selected = true if request.fullpath == href || (text != 'General' && request.fullpath.starts_with?(href)) %>
<li<% if selected %> class='selected'<% end %>><a href='<%= href %>'><%= raw text %></a></li>
<% end %>
<li class='back'><input type='button' value='< Back' onclick="window.location='/admin/advertisers';" /></li>
</ul>
<div id='content2'>
