
<h1>New Setting</h1>
<div id='setting_new_container'></div>

<% content_for :caboose_js do %>
<script type='text/javascript'>

var setting = false;
$(document).ready(function() {

  setting = new Model({
    name: 'Setting',
    id: 'new',
    listing_url: 'get /admin/settings',
    create_url: 'post /admin/settings',
    attributes: [
      { name: 'name'  , type: 'text'     , value: '' },
      { name: 'value' , type: 'textarea' , value: '' }
    ]
  });
  
});

</script>
<% end %>
