<div class="wrapper">  
  <form action="/checkout/attach-guest" method="post">
    <input name="email" type="text" placeholder="Email" />
    <input name="confirm_email" type="email" placeholder="Confirm email" />
    <input type="submit" value="Submit" />
  </form>
</div>

