<div class="wrapper">  
  <form action="/register" method="post">
    <input name="first_name" type="text" placeholder="First Name" />
    <input name="last_name" type="text" placeholder="Last Name" />
    <input name="email" type="text" placeholder="Email" />
    <input name="phone" type="text" placeholder="Phone" />
    <input name="pass1" type="password" placeholder="Password" />
    <input name="pass2" type="password" placeholder="Confirm Password" />
    <input type="submit" value="Submit" />
  </form>
</div>
