
<h1>New permission</h1>
<div id='permission_new_container'></div>

<% content_for :caboose_js do %>
<script type='text/javascript'>

var permission = false;
$(document).ready(function() {

  permission = new Model({
    name: 'Permission',
    id: 'new',
    listing_url: 'get /admin/permissions',
    create_url: 'post /admin/permissions',
    attributes: [
      { name: 'resource' , type: 'text', value: '' },
      { name: 'action2'  , type: 'text', value: '', nice_name: 'Action' }
    ]
  });
  
});

</script>
<% end %>
